#NeuroVaultPapayaHolder .papaya{width:90%;height:90%;margin:25px auto;background-color:black}
#NeuroVaultPapayaHolder .papaya-embedded {width:100%;height:100%;margin:10px auto;}
#NeuroVaultPapayaHolder .papaya:before{position:relative;content:"Papaya requires JavaScript...";display:block;top:45%;color:red;margin:0 auto;font-size:18px;font-family:sans-serif;text-align:center}
# .papaya-fullscreen{height:100%}
#NeuroVaultPapayaHolder .papaya-dialog{width:400px;height:500px;background:#222;position:absolute;z-index:100;border:solid 2px darkgray;padding:6px;font-size:14px;font-family:sans-serif;color:#b5cbd3}
#NeuroVaultPapayaHolder .papaya-dialog-content{margin:20px;width:360px;height:420px;color:white}
#NeuroVaultPapayaHolder .papaya-dialog-content table{margin:0 auto}
#NeuroVaultPapayaHolder .papaya-dialog-content-label{text-align:right;padding:5px;color:#b5cbd3}
#NeuroVaultPapayaHolder .papaya-dialog-content-control{text-align:left;padding:5px}
#NeuroVaultPapayaHolder .papaya-dialog-title{color:#b5cbd3;font-weight:bold;font-size:16px}
#NeuroVaultPapayaHolder .papaya-dialog-button{text-align:right}
#NeuroVaultPapayaHolder .papaya-dialog-background{position:fixed;top:0;left:0;background-color:#fff;width:100%;height:100%;opacity:.5}
#NeuroVaultPapayaHolder .papaya-dialog-stopscroll{height:100%;overflow:hidden}
#NeuroVaultPapayaHolder .papaya-menu{width:220px;background:#222;z-index:100;position:absolute;border:solid 2px darkgray;padding:4px}
#NeuroVaultPapayaHolder .papaya-menu li{font-size:12px;font-family:sans-serif;padding:4px 2px;color:#b5cbd3;cursor:pointer}
#NeuroVaultPapayaHolder .papaya-menu-label{font-size:14px;font-family:sans-serif;font-weight:bold;padding:2px 8px;cursor:pointer;vertical-align:text-bottom}
#NeuroVaultPapayaHolder .papaya-menu-titlebar{font-size:16px;font-family:sans-serif;padding:3px 8px 0 8px;cursor:default;vertical-align:text-bottom;color:white}
#NeuroVaultPapayaHolder .papaya-menu-icon{margin-left:5px}
#NeuroVaultPapayaHolder .papaya-menu-hovering{background-color:#444}
#NeuroVaultPapayaHolder .papaya-menu-spacer{height:5px}
#NeuroVaultPapayaHolder .papaya-menu-unselectable{-moz-user-select:-moz-none;-khtml-user-select:none;-webkit-user-select:none;-ms-user-select:none;user-select:none;-webkit-user-drag:none;user-drag:none}
#NeuroVaultPapayaHolder .papaya-menu-button-hovering{background-color:#DDD}
#NeuroVaultPapayaHolder .papaya-menu-filechooser{cursor:pointer;width:200px;display:inline-block}
#NeuroVaultPapayaHolder .papaya-menu-input{width:40px;margin-right:5px}
@media all and (device-width:768px) and (device-height:1024px){
    #NeuroVaultPapayaHolder .papaya-menu-input{width:35px;margin-right:4px}
}
#NeuroVaultPapayaHolder .papaya-toolbar ul{margin:0;list-style:none}
#NeuroVaultPapayaHolder .papaya-toolbar input[type=file]{text-align:right;display:none}
#NeuroVaultPapayaHolder .papaya-slider-slice{margin:2px auto;padding:0 5px}
#NeuroVaultPapayaHolder .papaya-slider-slice input[type=range]{width:100%;margin:0 auto}
#NeuroVaultPapayaHolder .checkForJS{width:90%;height:90%;margin:25px auto;background-color:black}
#NeuroVaultPapayaHolder .checkForJS:before{position:relative;content:"Papaya requires JavaScript...";display:block;top:45%;color:red;margin:0 auto;font-size:18px;font-family:sans-serif;text-align:center}
#NeuroVaultPapayaHolder .papaya-utils-unsupported{width:90%;height:90%;margin:25px auto;background-color:black}
#NeuroVaultPapayaHolder .papaya-utils-unsupported-message{position:relative;display:block;top:45%;color:red;margin:0 auto;font-size:18px;font-family:sans-serif;text-align:center}
#NeuroVaultPapayaHolder .papaya-viewer{line-height:1}
#NeuroVaultPapayaHolder .papaya-viewer div,.papaya-viewer canvas{margin:0;padding:0;border:0;font:inherit;font-size:100%;vertical-align:baseline}
#NeuroVaultPapayaHolder .papaya-viewer canvas{cursor:crosshair}

DIV.nv-papaya-holder {width:720px; height:635px;padding:15px; }
TEXTAREA.nv-papaya-copy-snippet { width:700px; height: 80px;}
