#views-left {
	width: 260px;
	float: left;
	margin-left: 10px;
}

#views-right {
	width: 280px;
	float: left;
}

#view-axial {
  width: 260px;
  height: 260px;
  margin-bottom: 20px; }

#view-coronal {
  width: 260px;
  height: 220px; }

#view-sagittal {
  width: 264px;
  height: 260px; }

.view {
  float: left; }

.nav-slider-vertical {
  height: 100%;
  margin-left: 5px;
  float: left; }

.nav-slider-horizontal {
  width: 100%;
  margin-top: 5px;
  float: left; }

canvas {
  float: left; }

#layer-panel {
	width: 290px;
	float: left;
	margin-left: 12px;
}

#layer-settings-panel {
	font-size: 14px;
	width: 235px;
	margin-top: 10px;
	float: left;
}

.layer-container-half-width {
  width: 50%;
  float: left;
}

.layer-container-full-width {
  width: 100%;
  float: left;
}

#checkbox-list {
  float: left;
  margin: 20px 0px 0px 30px;
}

.checkbox_row {
  font-size: 14px;
  margin-bottom: 5px;
}

.checkbox_row>input {
    margin-right: 5px;
}

select.layer-settings {
  width: 120px;
}

#layer-list-panel {
	width: 285px;
	float: left;
}

#layer-list {
	width: 280px;
	float: left;
}

#layer-visible-list {
	width: 25px;
	float: left;
}

.visibility_icon {
  width: 20px;
  float: left;
  text-align: center;
  padding: 5px 3px;
  background: white;
  border-left: 1px solid #999;
  border-right: 1px solid #999;
}

.deletion_icon {
  width: 20px;
  // height: 20px;
  float: left;
  text-align: center;
  padding: 5px 3px;
  background: white;
  border-left: 1px solid #999;
  border-right: 1px solid #999;
}

.download_icon {
  width: 20px;
  // height: 20px;
  float: left;
  text-align: center;
  padding: 5px 3px;
  background: white;
  border-left: 1px solid #999;
  border-right: 1px solid #999;
}

#data-panel {
	margin-top: 20px;
	float: left;
	font: 12px;
}

#data-current-coords {
	font-size: 24px;
	float: left;
	width: 150px;
	padding: 7px;
	text-align: center;
}

#data-current-value {
	font-size: 24px;
	padding: 7px;
	background: #ccc;
	border: 1px #aaa;
	width: 90px;
	float: left;
	text-align: center;
}

ul#layer-list li {
    border-width: 1px 1px 1px 1px;
    border-style: solid;
    border-color: #ddb #999 #999 #ddb;
    background: white;
    border-radius: 3px;
    -moz-border-radius: 3px;
    margin: 0px;
    float: left;
}

ul#layer-list {
	margin: 0px;
	padding: 0px;
	list-style: none;
}

.layer_label {
  float: left;
  width: 180px;
  background: #ccc;
  padding: 5px 3px;
  font-size: 12px;
}

.layer_label.selected {
	background: #cff;
}

.ui-slider-range.ui-widget-header {
	background: #ccc;
}