!/.gitignore
!/.dockerignore

neurovault/data/*/*/*
/static/
neurovault/reload.py
neurovault/local_settings.py
neurovault/secrets.py
neurovault/static/
neurovault/pycortex_data/

# test data
neurovault/apps/statmaps/tests/test_data/feat/*
neurovault/apps/statmaps/tests/bench/*

# celery generated schedule
celerybeat-schedule

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Translations
*.mo
*.pot

# Django stuff:
*.log

# Sphinx documentation
docs/_build/

# PyBuilder
target/

local_data/
.env
.envs/

*.swp

ahba_data/store_max1_reduced.h5
