Django>=1.5
python-social-auth>=0.1.23
djangorestframework==2.3.13
markdown
django-filter
django-taggit
django-form-utils
hamlpy
django-crispy-forms
django-coffeescript
South
django-taggit-templatetags
django-cors-headers
django-dirtyfields
dropbox==1.6
django-dbbackup
numpy
nibabel
psycopg2
cython
h5py
matplotlib
scipy
numexpr
lxml
shapely
pycortex
Pillow
requests
requests-oauthlib
python-openid
django-sendfile
django-polymorphic
