Django>=1.5
django-social-auth>=0.7.23
neurosynth
djangorestframework
markdown
django-filter
django-taggit
django-form-utils
hamlpy
django-crispy-forms
django-coffeescript
South
django-taggit-templatetags
django-cors-headers
django-dirtyfields