Django>=1.5
python-social-auth>=0.1.23
djangorestframework==2.3.13
markdown
django-filter
django-taggit
django-form-utils
hamlpy
django-crispy-forms
django-coffeescript
South
django-taggit-templatetags
django-cors-headers
django-dirtyfields
dropbox==1.6
django-dbbackup
numpy
nibabel
psycopg2
cython
h5py
matplotlib
scipy
numexpr
lxml
shapely
pycortex
Pillow
requests
requests-oauthlib
python-openid
django-sendfile
django-polymorphic
networkx
rdflib>=4.1.0
celery-with-redis
django-celery
scikit-learn
-e git://github.com/nilearn/nilearn.git@master#egg=nilearn
-e git://github.com/vsoch/pybraincompare.git@48b6174c92829281d03cb18f64ab9854f74644aa#egg=pybraincompare
