
#view-axial.view
    %canvas{:height => "264", :width => "220"}
    #nav-zaxis.slider.nav-slider-vertical
/     #view-coronal.view
/         %canvas{:height => "220", :width => "220"}
/         #nav-yaxis.slider.nav-slider-vertical
/ #views-right
/     #view-sagittal.view
/         %canvas{:height => "220", :width => "264"}
/         #nav-xaxis.slider.nav-slider-horizontal
/     #data-panel
/         #data-current-coords
/         #data-current-value
/ #layer-panel
/     %div Layers
/     #layer-list-panel
/         #layer-visible-list
/         %ul#layer-list.layer-settings
/     #layer-settings-panel
/         .layer-container-half-width
/             Color palette:
/             %select#select-color.layer-settings
/             Positive/Negative:
/             %select#select-sign.layer-settings
/         #checkbox-list
/         .layer-container-full-width
/             Opacity:
/             #opacity.slider.layer-settings
/             Pos. threshold:
/             #pos-threshold.slider.layer-settings
/             Neg. threshold:
/             #neg-threshold.slider.layer-settings