{% extends "base.html" %}
{% load coffeescript %}
{% block content %}
.row
    .span11
        %h3 Using our APIs
        %h4 Atlases: 
        <div style="margin-left: 1em;">
        %h5 /api/atlases/
        %p Returns a json file containing a list of dictionaries with information corresponding to each atlas stored in NeuroVault.
        %p example: <a href='http://neurovault.org/api/atlases/'>neurovault.org/api/atlases/</a>
        %h5 /api/atlases/{pk}/
        %p Returns a json file containing a dictionary with information corresponding to the particular atlas specified by the pk value.
        %p example: <a href='http://neurovault.org/api/atlases/1557'>neurovault.org/api/atlases/1557</a>
        %h5 /api/atlases/atlas_query_region/
        %p Searches atlas for specified region and related synonyms. If no matches are found, it will search the <a href='http://obofoundry.org/cgi-bin/detail.cgi?id=NIF_GrossAnatomy'>NIF ontology</a> recursively for children of the specified region that are found in the atlas. If no matches are found, it will search recursively for parents that are found in the atlas. Returns a json file containing a dictionary of a list of three lists, corresponding to the X, Y and Z coordinates, respectively, of the matching voxels. Coordinates are in mm in MNI space.
        %p Parameters: region, collection, atlas
        %p example: <a href='http://neurovault.org/api/atlases/atlas_query_region/?region=middle%20frontal%20gyrus&collection=Harvard-Oxford%20cortical%20and%20subcortical%20structural%20atlases&atlas=HarvardOxford%20cort%20maxprob%20thr25%201mm'>neurovault.org/api/atlases/atlas_query_region/?region=middle frontal gyrus&collection=Harvard-Oxford cortical and subcortical structural atlases&atlas=HarvardOxford cort maxprob thr25 1mm</a>
        %h5 /api/atlases/atlas_query_voxel/
        %p Returns a json file containing the region name that matches the specified coordinates in the specified atlas. Coordinates are in mm in MNI space.
        %p Parameters: x, y, z, collection, atlas
        %p example: <a href='http://neurovault.org/api/atlases/atlas_query_voxel/?x=30&y=30&z=30&collection=Harvard-Oxford cortical and subcortical structural atlases&atlas=HarvardOxford cort maxprob thr25 1mm'>neurovault.org/api/atlases/atlas_query_voxel/?x=30&y=30&z=30&collection=Harvard-Oxford cortical and subcortical structural atlases&atlas=HarvardOxford cort maxprob thr25 1mm</a>
        </div>
        %h4 Collections: 
        <div style="margin-left: 1em;">
        %h5 /api/collections/
        %p Returns a json file containing a list of dictionaries with information corresponding to each collection stored in NeuroVault.  Results can be filtered by specifying the name, DOI or owner of the collection.
        %p Parameters: name, DOI, owner
        %p example: <a href='http://neurovault.org/api/collections/?DOI=10.1016/j.neurobiolaging.2012.11.002'>neurovault.org/api/collections/?DOI=10.1016/j.neurobiolaging.2012.11.002</a>
        %h5 /api/collections/{pk}/
        %p Returns a json file containing a dictionary with information corresponding to the particular collection specified by the pk value.
        %p example: <a href='http://neurovault.org/api/collection/287'>neurovault.org/api/collection/20</a>
        </div>
        %h4 Images: 
        <div style="margin-left: 1em;">
        %h5 /api/images/
        %p Returns a json file containing a list of dictionaries with information corresponding to each image stored in NeuroVault.
        %p example: <a href='http://neurovault.org/api/images/'>neurovault.org/api/images/</a>
        %h5 /api/images/{pk}/
        %p Returns a json file containing a dictionary with information corresponding to the particular atlas specified by the pk value.
        %p example: <a href='http://neurovault.org/api/images/1266'>neurovault.org/api/images/1203</a>
        </div>
        %h4 NIDM Results: 
        <div style="margin-left: 1em;">
        %h5 /api/nidm_results/
        %p Returns a json file containing a list of dictionaries with information corresponding to each nidm_results stored in NeuroVault.
        %p example: <a href='http://neurovault.org/api/nidm_results'>neurovault.org/api/nidm_results</a>
        </div>
{% endblock %}
