{% extends "base.html" %}
{% block content %}
    <title>{% block title %}API Documentation{% endblock %}</title>

    <div class="row">
        <div class="col">
            <h3>API Documentation</h3>
            <h4>Atlases</h4>
            <h5><code>/api/atlases/</code></h5>
            <p class="indented">Returns a json file containing a list
                of
                dictionaries with information corresponding to each
                atlas
                stored in NeuroVault.</p>
            <p class="indented"> example: <a
                    href='http://neurovault.org/api/atlases/'><code>neurovault.org/api/atlases/</code></a>
            </p>
            <h5><code>/api/atlases/{pk}/</code></h5>
            <p class="indented"> Returns a json file containing a
                dictionary with information corresponding to the
                particular
                atlas specified by the pk value.</p>
            <p class="indented"> example: <a
                    href='http://neurovault.org/api/atlases/1557'><code>neurovault.org/api/atlases/1557</code></a>
            </p>
            <h5><code>/api/atlases/atlas_query_region/</code></h5>
            <p class="indented"> Searches atlas for specified region
                and
                related synonyms. If no matches are found, it will
                search
                the
                <a href='http://obofoundry.org/cgi-bin/detail.cgi?id=NIF_GrossAnatomy'>NIF
                    ontology</a> recursively for children of the
                specified
                region that are found in the atlas. If no matches are
                found, it will search recursively for parents that are
                found in the atlas. Returns a json file containing a
                dictionary of a list of three lists, corresponding to
                the
                X, Y and Z coordinates, respectively, of the matching
                voxels. Coordinates are in mm in MNI space.</p>
            <p class="indented"> Parameters: region, collection,
                atlas</p>
            <p class="indented"> example: <a
                    href='http://neurovault.org/api/atlases/atlas_query_region/?region=middle%20frontal%20gyrus&collection=Harvard-Oxford%20cortical%20and%20subcortical%20structural%20atlases&atlas=HarvardOxford%20cort%20maxprob%20thr25%201mm'><code>neurovault.org/api/atlases/atlas_query_region/?region=middle
                frontal gyrus&collection=Harvard-Oxford cortical and
                subcortical structural atlases&atlas=HarvardOxford cort
                maxprob thr25 1mm</code></a></p>
            <h5><code>/api/atlases/atlas_query_voxel/</code></h5>
            <p class="indented"> Returns a json file containing the
                region
                name that matches the specified coordinates in the
                specified atlas. Coordinates are in mm in MNI
                space.</p>
            <p class="indented"> Parameters: x, y, z, collection,
                atlas</p>
            <p class="indented"> example: <a
                    href='http://neurovault.org/api/atlases/atlas_query_voxel/?x=30&y=30&z=30&collection=Harvard-Oxford cortical and subcortical structural atlases&atlas=HarvardOxford cort maxprob thr25 1mm'><code>neurovault.org/api/atlases/atlas_query_voxel/?x=30&y=30&z=30&collection=Harvard-Oxford
                cortical and subcortical structural
                atlases&atlas=HarvardOxford cort maxprob thr25 1mm</code></a>
            </p>
            <h4> Collections </h4>
            <h5><code>/api/collections/</code></h5>
            <p class="indented"> Returns a json file containing a list
                of
                dictionaries with information corresponding to each
                collection stored in NeuroVault. Results can be
                filtered by
                specifying the name, DOI or owner of the
                collection.</p>
            <p class="indented"> Parameters: name, DOI, owner</p>
            <p class="indented"> example: <a
                    href='http://neurovault.org/api/collections/?DOI=10.1016/j.neurobiolaging.2012.11.002'><code>neurovault.org/api/collections/?DOI=10.1016/j.neurobiolaging.2012.11.002</code></a>
            </p>
            <h5><code>/api/collections/{pk}/</code></h5>
            <p class="indented"> Returns a json file containing a
                dictionary with information corresponding to the
                particular
                collection specified by the pk value.</p>
            <p class="indented"> example: <a
                    href='http://neurovault.org/api/collections/287'><code>neurovault.org/api/collections/20</code></a>
            </p>
            <h5><code>/api/collections/{pk}/images</code></h5>
            <p class="indented"> Returns a json file containing a
                dictionary of all images from the collection specified
                by
                the pk value.</p>
            <p class="indented"> example: <a
                    href='http://neurovault.org/api/collections/287/images'><code>neurovault.org/api/collections/20/images</code></a>
            </p>
            <h4> Images </h4>

            <h5><code>/api/images/</code></h5>
            <p class="indented"> Returns a json file containing a list
                of
                dictionaries with information corresponding to each
                image
                stored in NeuroVault.</p>
            <p class="indented"> example: <a
                    href='http://neurovault.org/api/images/'><code>neurovault.org/api/images/</code></a>
            </p>
            <h5><code>/api/images/{pk}/</code></h5>
            <p class="indented"> Returns a json file containing a
                dictionary with information corresponding to the
                particular
                atlas specified by the pk value.</p>
            <p class="indented"> example: <a
                    href='http://neurovault.org/api/images/1266'><code>neurovault.org/api/images/1203</code></a>
            </p>

            <h4> NIDM Results</h4>

            <h5><code>/api/nidm_results/</code></h5>
            <p class="indented"> Returns a json file containing a
                list
                of dictionaries with information corresponding to
                each
                nidm_results stored in NeuroVault.</p>
            <p class="indented"> example: <a
                    href='http://neurovault.org/api/nidm_results'><code>neurovault.org/api/nidm_results</code></a>
            </p>
        </div>
    </div>
    </div>
    </div>


{% endblock %}
