<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}NeuroVault: a new home for all brain statistical maps!{% endblock %}</title>
    {% block includes %}{% endblock %}
    <script src="{% static "scripts/jquery-1.10.2.min.js"%}" type="text/javascript"></script>
    <script src="{% static "scripts/jquery-ui.min.js"%}" type="text/javascript"></script>
    <script src="{% static "scripts/jquery.cookie.js"%}" type="text/javascript"></script>
    <script src="{% static "scripts/bootstrap.min.js"%}" type="text/javascript"></script>
    <script src="{% static "scripts/jquery.dataTables.min.js"%}" type="text/javascript"></script>
    <script src="{% static "scripts/paging.js"%}" type="text/javascript"></script>
    <script src="{% static "scripts/base.js"%}" type="text/javascript"></script>
    <link rel="stylesheet" href="{% static "css/bootstrap.css" %}" />
    <link href="{% static "css/jquery-ui.css"%}" media="screen" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="{% static "css/style.css" %}" />
    <link rel="stylesheet" href="{% static "css/datatables.css" %}" />
    <link href="http://netdna.bootstrapcdn.com/font-awesome/3.1.1/css/font-awesome.css" rel="stylesheet">
    {% block head %}{% endblock %}
	{% block functions %}{% endblock %}
</head>

<body>
<!-- UserVoice JavaScript SDK (only needed once on a page) -->
<script>(function(){var uv=document.createElement('script');uv.type='text/javascript';uv.async=true;uv.src='//widget.uservoice.com/py7m8MbdHZIXptw3qAaw.js';var s=document.getElementsByTagName('script')[0];s.parentNode.insertBefore(uv,s)})()</script>

    <div class="container" id="main">
        <div class="navbar">
            <div class="navbar-inner">
                <a class="brand" href="{% url 'index' %}">NeuroVault (beta)</a>
                <ul class="nav">
                    <li><a href="{% url 'new_collection' %}">Add new collection</a></li>
					<li><a href="{% url 'collections_list' %}">See all collections</a></li>
					<li><a href="javascript:void(0)" data-uv-lightbox="classic_widget" data-uv-mode="full" data-uv-primary-color="#cc6d00" data-uv-link-color="#007dbf" data-uv-default-mode="feedback" data-uv-forum-id="210717">Give feedback</a>
					</li>    
				</ul>
				<ul class="nav pull-right">
					{% if request.user.is_authenticated %}
					  <li class="dropdown">
					    <a href="{% url 'my_profile' %}" class="dropdown-toggle" data-toggle="dropdown">
					      {{ request.user.username }}
					      <b class="caret"></b>
					    </a>
					    <ul class="dropdown-menu">
					      <li><a href="{% url 'logout' %}">Logout</a></li>
					      <li><a href="{% url 'edit_user' %}">Edit</a></li>
					    </ul>
					  </li>
	                {% else %}
                        <li><a href="{% url 'login' %}">Log in</a></li>
                    {% endif %}
				</ul>					              				       
            </div>
        </div>
        <div class="row" id="content">
                {% block content %}{% endblock %}
        </div>
    </div>
    <script type="text/javascript">

      var _gaq = _gaq || [];
      var pluginUrl = '//www.google-analytics.com/plugins/ga/inpage_linkid.js';
      _gaq.push(['_require', 'inpage_linkid', pluginUrl]);
      _gaq.push(['_setAccount', 'UA-339450-10']);
      _gaq.push(['_trackPageview']);
    
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'stats.g.doubleclick.net/dc.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    
    </script>
</body>
</html>
