{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% block includes %}{% endblock %}
    {% block global_includes %}
    <link rel="apple-touch-icon" sizes="57x57" href="/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon-180x180.png">
    <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/android-chrome-192x192.png" sizes="192x192">
    <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="/manifest.json">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-TileImage" content="/mstile-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <script src="https://cdn.ravenjs.com/3.26.2/raven.min.js" crossorigin="anonymous"></script>
    <script src="{% static "scripts/jquery-1.10.2.min.js"%}" type="text/javascript"></script>
    <script src="{% static "scripts/jquery-ui.min.js"%}" type="text/javascript"></script>
    <script src="{% static "scripts/jquery.cookie.js"%}" type="text/javascript"></script>
    <script src="{% static "scripts/bootstrap.min.js"%}" type="text/javascript"></script>
    <script src="//cdn.datatables.net/1.10.7/js/jquery.dataTables.min.js" type="text/javascript"></script>
    <script src="//cdn.datatables.net/plug-ins/1.10.7/integration/bootstrap/3/dataTables.bootstrap.js" type="text/javascript"></script>
    <link rel="stylesheet" href="{% static "css/dataTables.bootstrap.css"%}"/>
    <script src="{% static "scripts/paging.js"%}" type="text/javascript"></script>
    <script src="{% static "scripts/base.js"%}" type="text/javascript"></script>
    <link rel="stylesheet" href="{% static "css/bootstrap.css" %}" />
    <link href="{% static "css/jquery-ui.css"%}" media="screen" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="{% static "css/datatables.css" %}" />
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static "css/style.css" %}" />
    <script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Organization",
  "name": "NeuroVault",
  "url": "https://neurovault.org",
  "logo": "https://neurovault.org/static/images/neurovault-logo.png",
  "sameAs": "https://twitter.com/vaultneuro"
}
    </script>

    {% endblock %}
    {% block head %}{% endblock %}
	{% block functions %}{% endblock %}
</head>

{% block body %}
<body>
<script>
    Raven.config('https://8381dd47c23b47fb83ed76274243b311@sentry.io/1235478').install();
</script>

<div id="fade"></div>

<div class="container navigation-container">

    <nav class="navbar navbar-default" id="navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-links">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url 'index' %}">NeuroVault</a><a class="navbar-brand" style="margin-left: -22px" href="{{ name_subscript_url }}"><sub>{{ name_subscript }}</sub></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="main-links">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="" class="dropdown-toggle" id="collections_nav" data-toggle="dropdown">
                        Collections
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="{% url 'my_collections' %}">My collections</a></li>
                        <li><a href="{% url 'new_collection' %}">Add new collection</a></li>
                        <li><a href="{% url 'collections_list' %}">See all collections</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="" class="dropdown-toggle" id="collections_nav" data-toggle="dropdown">
                        Metaanalyses
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="{% url 'my_metaanalyses' %}">My metaanalyses</a></li>
                        <li><a href="{% url 'metaanalysis_selection' %}">Search for group
                            level maps</a></li>
                    </ul>
                </li>
                <li><a href="{% url 'cite' %}">How to cite</a></li>
                <li><a href="{% url 'FAQ' %}">FAQ</a></li>
                <li><a href="https://neurostars.org/tags/neurovault">Give feedback</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">

                <!-- Search Icon -->
                <li><a href="{% url 'search' %}"><i class="fa fa-search"></i></a></li>

                <!-- User Profile -->
                {% if request.user.is_authenticated %}
                    <li class="dropdown">
                        <a href="{% url 'my_profile' %}" class="dropdown-toggle" data-toggle="dropdown">
                            {{ request.user.username }}
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="{% url 'my_collections' %}">My collections</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="{% url 'edit_user' %}">Settings</a></li>
                            <li><a href="{% url 'logout' %}">Logout</a></li>
                        </ul>
                    </li>
                {% else %}
                    <li><a href="{% url 'login' %}">Log in</a></li>
                {% endif %}
            </ul>
        </div><!-- /.navbar-collapse -->
    </nav>
</div>

<div class="container" id="main">
    <div class="row" id="content">
        {% block content %}{% endblock %}
    </div>
</div>

{% block footer %}
<footer style="text-align:center;padding-top:10px">
      <div class="container navigation-container">
        <p class="text-muted">
            <a href="/api-docs">API</a>  &middot;
            <a href="https://github.com/NeuroVault/NeuroVault">Github </a> &middot;
            <a href="http://www.cognitiveatlas.org">Cognitive Atlas </a> &middot;
            <a href="http://www.neurosynth.org">NeuroSynth </a></p>
      </div>
</footer>
{% endblock %}

<script type="text/javascript">

      var _gaq = _gaq || [];
      var pluginUrl = '//www.google-analytics.com/plugins/ga/inpage_linkid.js';
      _gaq.push(['_require', 'inpage_linkid', pluginUrl]);
      _gaq.push(['_setAccount', 'UA-339450-10']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'stats.g.doubleclick.net/dc.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
</body>
{% endblock %}
</html>
