{% extends "base.html" %}
{% block content %}
<div class="row">
    <div class="col">
        <h3>How to cite NeuroVault in papers.</h3>
        <b>If you uploaded maps to NeuroVault and want to reference them in your paper please include the URL (link) to your collection (private or public) and cite:</b>
        <p><i>Gorgolewski KJ, Varoquaux G, Rivera G, Schwartz Y, Ghosh SS, Maumet C, Sochat VV, Nichols TE, Poldrack RA, Poline J-B, Yarkoni T and Margulies DS (2015) <a href="http://journal.frontiersin.org/article/10.3389/fninf.2015.00008/full">NeuroVault.org: a web-based repository for collecting and sharing unthresholded statistical maps of the brain.</a> Front. Neuroinform. 9:8. doi: 10.3389/fninf.2015.00008</i></p>
        <b>If you used the gene decoding function implemented in NeuroVault please cite:</b>
        <p><i>Gorgolewski KJ, Fox AS, Chang L, Schäfer A, Arélin K, Burmann I, Sacher J, Margulies DS (2014) <a href="https://f1000research.com/posters/1097120">Tight fitting genes: finding relations between statistical maps and gene expression patterns.</a> F1000Posters, 5:1607. doi: 10.7490/f1000research.1097120.1</i></p>
        <b>If you downloaded surface data (.gii files) please cite:</b>
        <p><i>Wu J, Ngo GH, Greve DN, Li J, He T, Fischl B, Eickhoff SB, Yeo BTT (2018) <a href="https://doi.org/10.1002/hbm.24213">Accurate nonlinear mapping between MNI volumetric and FreeSurfer surface coordinate systems.</a> Human Brain Mapping, in press. doi: 10.1002/hbm.24213</i></p>
    </div>
</div>
{% endblock %}
