{% extends "base.html" %}
{% load coffeescript %}
{% block head %}
<title>{% block title %}NeuroVault: a new home for all brain statistical maps!{% endblock %}</title>
<script type="text/javascript"> 
var addthis_config = {
     data_track_clickback: false 
} 
</script>
{% endblock %}
{% block content %}
.row
    .span11
        .massive
            %p NeuroVault
            .lead A public repository of unthresholded statistical maps of the human brain
        %hr
.row
    .third.slice
        .light-head.center-text What is it?
        %p A place where researchers can publicly store and share unthresholded statistical maps produced by MRI and PET studies.
    .third.slice
        .light-head.center-text Why use it?
        %ul.benefit-list
            %li Interactive visualization
            %li A permanent URL
            %li Publicly shareable
            %li Improves meta-analyses
    .third.slice
        .light-head.center-text Supported by
        .slice{:style => "line-height: 100px;"}
            %a{href: 'http://www.incf.org'}
                %img.middle{src: '{% static "images/incf-logo.png"%}', width: 110, title:"International Neuroinformatics Coordination Facility"}
            %a{href: 'http://www.cbs.mpg.de'}
                %img.middle{src: '{% static "images/MPG_LOGO.gif"%}', width: 90, title:"Max Planck Institute for Human Cognitive and Brain Sciences"}

.row
    .span11
        .light-head.center-text
            %a.btn.btn-primary.btn-gigantic{href: '/collections/new', style: 'margin-top: 15px'} Get started and upload an image!
.row
    .span11
        %hr
.row
    .span11{:style => "padding: 0 0 0 0px;"}
        %h4 Recently added collections of images from published papers
        %table.table.table-striped
            %thead
                %tr
                    %th.col-md-9
                        Name
                    %th.col-md-1
                        Number of images
            %tbody
                - for collection in recent_collections
                    %tr
                        %td.col-md-9
                            %a{href: "{% url 'collection_details' collection.id %}"}= collection.name
                        %td.col-md-1
                            {{ collection.image_set.all.count }}
                        
.row
    .span11.text-center
    	.massive
			<div class="addthis_toolbox addthis_default_style" style="width: 400px; margin: 0 auto;">
			<a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
			<a class="addthis_button_tweet"></a>
			<a class="addthis_button_google_plusone" g:plusone:size="medium"></a>
			<a class="addthis_counter addthis_pill_style"></a>
			</div>
			<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=xa-51b9d30552a8a690"></script>

{% endblock %}
