body {
    background: url('/static/images/denim.png');
}

#main {
	background: white;
	/* border-left: 1px solid #666; */
	/* border-right: 1px solid #666; */
	/* border-bottom: 1px solid #999; */
	margin: 0 auto
	margin-bottom: 30px
	float: none
;
	border-radius: 0px 0px 6px 6px;
}

#content {
	padding: 30px 20px 30px 20px;
        margin-right: 20px;
        margin-left: 20px;
}

#navigation {
       margin-bottom:0px;
       padding-right:10px;
       padding-left:10px;
       width:1200px;
       border-radius: 6px 6px 0px 0px;
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: #333;
  background-color: transparent;
}

.navigation-container {
      padding-left:0px;
      /* background:white; */
      /* margin-bottom: 20px; */
      /* margin-top: 20px; */
      /* border-radius: 6px 6px 0px 0px; */
}

#footer.a:hover {
    color: #CCC;
}

.container {
    width:1200px;

}

.navbar-default .navbar-brand {
  color: #fff;
}

.navbar-brand {
       font-size: 20px;
       font-weight: 200;
       color: #fff;
}

.navbar {
	background: #337ab7;
	border-color: #337ab7;
}



.navbar-default .navbar-nav > li > a {
  color: #fff;
}

.navbar-nav {
	color:#fff

}

.bigtext {
	font-size: 16px;
}

.massive {
	font-size: 80px;
	padding: 70px 0px 50px 0px;
	line-height: 1em;
	font-family: "HelveticaNeue-Light", Helvetica, Arial, sans-serif;
	text-align: center;
}

.light-head {
	font-size: 36px;
	font-family: "HelveticaNeue-Light", Helvetica, Arial, sans-serif;
	line-height: 1.4em;
	margin-bottom: 10px;
}

.small-light-head {
	font-size: 26px;
	font-family: "HelveticaNeue-Light", Helvetica, Arial, sans-serif;
	line-height: 1.4em;
}

.center-text {
	text-align: center;
}

.third {
	width: 33%;
}

.two-thirds {
	width: 66%;
}

.half {
	width: 50%;
}

.middle {
    vertical-align: middle;
}

.slice {
	float: left;
	font-size: 20px;
	font-family: "HelveticaNeue-Light", Helvetica, Arial, sans-serif;
	line-height: 1.3em;
	padding: 20px 15px 20px 35px;
}

.benefit-list li {
	line-height: 1.3em;
}

.btn-gigantic {
    padding: 18px 20px;
    font-size: 20px;
    line-height: normal;
    -webkit-border-radius: 8px;
       -moz-border-radius: 8px;
            border-radius: 8px;
    }

.management-options {
	clear: both;
	padding-bottom: 30px;
}

.management-options .btn {
	font-size: 18px;
	font-family: "HelveticaNeue-Light", Helvetica, Arial, sans-serif;
	padding: 11px;
}

ul.nav-tabs li {
	font-size: 16px;
	font-family: "HelveticaNeue-Light", Helvetica, Arial, sans-serif;
}

.tab-content {
    padding-top: 10px;
    padding-bottom: 5px;
}

.image-form {
	display: none;
}

.float-right-wrapper {
	float: right;
}

.papaya-menu-input {
    padding: 0;
}

ul.collection_nav li {
	font-size: 12px;
	line-height: 12px;
	background: #FFF;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;

}

.well-lite {
	background-color: rgba(245, 245, 245, 0.52);
}

#current-image {
	font-size: 32px;
	padding: 20px;
	background-color: rgba(245, 245, 245, 0.52);
	line-height:32px;
	word-break: break-word;
}

.form-horizontal .controls {
    margin: 10px 10px 10px 0px;
}

#collection_hldr {
    max-height: 331px;
    margin-bottom: 12px;
    overflow-y:auto;
    overflow-x: hidden;
}

.radio {
    padding-left:20px;
}

#fade {
    display: none;
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    z-index: 1001;
    -moz-opacity: 0.9;
    opacity: 0.9;
    filter: alpha(opacity=90);
}

.settings-tabs {
    margin-top: 28px;
    margin-bottom: 20px;
}

.settings-pane {
    margin-bottom: 30px;
}

.settings-pane input[type='submit'] {
    margin-top: 10px;
}
