body {
	background: url('/static/images/denim.png');
}

#main {
	background: white;
	border-left: 1px solid #666;
	border-right: 1px solid #666;
	border-bottom: 1px solid #999;
	margin: 0 auto
	margin-bottom: 30px
	float: none
}

#content {
	padding: 20px;
}