{% extends "base.html" %}
{% block head %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js" type="text/javascript"></script>


<link rel="stylesheet" type="text/css" href="{% static "css/zocial.css"%}" />

	<style>
		body .zocial {
			margin: 8px 4px;
			font-size: 13px;
			background: #f0f0eb;
			font-family: "Pompiere","Helvetica Neue", sans-serif;
		}
	</style>
{% endblock %}

{% block content %}

{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}

<form method="post" action="{% url 'login' %}">
{% csrf_token %}
<table>
<tr>
    <td>{{ form.username.label_tag }}</td>
    <td>{{ form.username }}</td>
</tr>
<tr>
    <td>{{ form.password.label_tag }}</td>
    <td>{{ form.password }}</td>
</tr>
</table>

<input type="submit" value="login" />
<input type="hidden" name="next" value="{{ next }}" />
</form>



<a href="{% url 'create_user' %}{% if request.GET.next %}?next={{ request.GET.next }}{% endif %}">Register new account</a>
<br \>
<a class="zocial facebook"  href="{% url "social:begin" "facebook" %}{% if request.GET.next %}?next={{ request.GET.next }}{% endif %}">Login using Facebook</a>
<br \>
<div id="signinButton">
    <span class="g-signin" data-scope="https://www.googleapis.com/auth/plus.login https://www.googleapis.com/auth/userinfo.email https://www.googleapis.com/auth/userinfo.profile"
                           data-clientid="573692122187-bt7cb8ve5c2cfirhpnrfq8h48v8iro6k.apps.googleusercontent.com"
                           data-redirecturi="postmessage"
                           data-accesstype="offline"
                           data-cookiepolicy="single_host_origin"
                           data-callback="signInCallback">
    </span>
</div>

<script type="text/javascript">
    (function () {
        var po = document.createElement('script');
        po.type = 'text/javascript';
        po.async = true;
        po.src = 'https://plus.google.com/js/client:plusone.js?onload=start';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(po, s);
    })();
</script>

<script type="text/javascript">
    var signInCallback = function (result) {
        if (result['error']) {
            alert('An error happened:', result['error']);
        } else {
            $('#code').attr('value', result['code']);
            $('#at').attr('value', result['access_token']);
            $('#google-plus').submit();
        }
    };
</script>

<form id="google-plus" method="post" action="{% url 'social:complete' "google-plus" %}">{% csrf_token %}
    <input id="at" type="hidden" name="access_token" value="" />
    <input id="code" type="hidden" name="code" value="" />
</form>
{% endblock %}