{% extends "base.html" %}
{% block head %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js" type="text/javascript"></script>
{% endblock %}

{% block content %}
<div class="auth-wrapper">
    <h3>Forgot your password?</h3>

        {% if user.is_authenticated %}
        <p><strong>Note:</strong> you are already logged in as {{ user_display }}.</p>
        {% endif %}
        <form role="form" method="POST" action="./" class="password_reset">
            {% csrf_token %}
            <div class="form-group{% if form.errors %} has-error{% endif %}">
                <input name="{{ form.email.name }}" type="text" class="form-control" id="{{ form.email.id_for_label }}" value="{{ form.email.value|default_if_none:"" }}" maxlength="254" placeholder="Your email">
                {% if form.email.errors %}
                    {% for error in form.email.errors %}
                        <p class="help-block">{{ error|escape }}</p>
                    {% endfor %}
                {% endif %}
            </div>

            <button type="submit" class="btn btn btn-primary">
              Send
            </button>
        </form>
</div>
<script>
$(document).ready(function(){
    $("#id_email").focus();
});
</script>
{% endblock %}
