<script type="text/javascript">

var contrast_lookup = {{ contrasts | safe }};

$(document).ready(function() {

    // Reveal custom write in box on button push
    reveal_custom = function() {
        var contrast_div = $("#div_id_contrast_definition")
        $(contrast_div).detach()
        $("#div_id_cognitive_contrast_cogatlas").after(contrast_div)
        $("#div_id_contrast_definition").show();        
    };

    $('#id_cognitive_paradigm_cogatlas').css("width", "600px");
    $('#id_cognitive_paradigm_cogatlas').select2();
  
    // Hide the contrast field on page load
    $("#div_id_cognitive_contrast_cogatlas").hide();

    // When contrast changes, check if user has selected "other"
    $("#id_cognitive_contrast_cogatlas").change(function(e) {
        var selection = $("#id_cognitive_contrast_cogatlas").val()    
        if (selection == "Other"){
            reveal_custom();        
        } else {
            $("#div_id_contrast_definition").hide();
        }
    });

    // When task is changed, update field for contrasts
    $("#id_cognitive_paradigm_cogatlas").change(function(e) {

    var termid = $("#id_cognitive_paradigm_cogatlas").val();
    var contrasts = contrast_lookup[termid];

    // If we have contrasts, hide the text fill in and show contrast options
    if (contrasts.length) {

        // Remove all old options
        $("#id_cognitive_contrast_cogatlas").find('option').remove().end();
  
        // Build new select options with contrasts of interest
        for(var key in contrasts) {
            var option = $("<option>");
            option.attr({ 'value': contrasts[key].value }).text(contrasts[key].name);
            $('#id_cognitive_contrast_cogatlas').append(option);
        }

        // Add an "other" option to reveal write in
        var option = $("<option>");
        option.attr({ 'value': "Other" }).text("Other");
        $('#id_cognitive_contrast_cogatlas').append(option);

        $("#div_id_contrast_definition").hide();
        $("#div_id_cognitive_contrast_cogatlas").show();

    } else {
        $("#div_id_contrast_definition").show();
        $("#div_id_cognitive_contrast_cogatlas").hide();
    }
  });

} );
</script>
