<meta name="name" content="{{ image.name }}">
<meta name="description" content="{{ image.description }}">
<meta name="collection" content="{{ image.collection.name }}">
{% if image.thumbnail %}
  <meta name="thumbnail" content="http://www.neurovault.org{{ image.thumbnail.url }}">
{% endif %}
<meta name="file" content="http://www.neurovault.org{{ image.file.url }}">
<meta name="add_date" content="{{ image.add_date }}">
<meta name="brain_coverage" content="{{ image.brain_coverage }}">
<meta name="database" content="neurovault.org">
{% if image.collection.private %}
<meta name="robots" content="noindex">
{% else %}
<link rel="canonical" href="https://neurovault.org/images/{{ image.id }}" />
{% endif %}

<script type="application/ld+json">
{
    "@context" : "http://schema.org/",
    "@type" : "Dataset",
    "@id" : "https://neurovault.org/images/{{ image.id }}",
    "url" : "https://neurovault.org/images/{{ image.id }}",
    "identifier": [ "https://identifiers.org/neurovault.image:{{ image.id }}"{% if image.collection.private_token %},
                    "https://neurovault.org/collections/{{ image.collection.private_token }}/images/{{ image.id }}"{% endif %} ],
    "name": "{{ image.collection.name }}: {{ image.name }}",
    "description": "{{ image.description|escape|linebreaks }}\n\n{% if image.thumbnail %}[![glassbrain](https://neurovault.org/media/{{ image.thumbnail }})](https://neurovault.org/images/{{ image.id }})\n\n{% endif %}### Collection description\n\n{{ image.collection.description|escape|linebreaks }}\n\n{% if image.subject_species %}###Subject species\n\n{{ image.subject_species }}\n\n{% endif %}{% if image.modality %}###Modality\n\n {{ image.modality }}}\n\n{% endif %}{% if image.analysis_level %}### Analysis level\n\n{{ image.get_analysis_level_display }}\n\n{% endif %}",
    "dateCreated": "{{ image.add_date|date:"Y-m-d\TH:i:s" }}",
    "dateModified": "{{ image.modify_date|date:"Y-m-d\TH:i:s" }}",
    "keywords" : [ "neuroscience", "neuroimaging" ],
    "includedInDataCatalog" : {
        "@type" : "DataCatalog",
        "name" : "NeuroVault",
        "url" : "https://neurovault.org"
    },
    "license":{
        "@type":"CreativeWork",
        "name":"CC0 1.0",
        "url":"https://creativecommons.org/publicdomain/zero/1.0/"
    },
    "distribution":[
     {
        "@type":"DataDownload",
        "encodingFormat":"NIfTI",
        "contentUrl":"https://neurovault.org/{{ image.file.url }}"
     }
    ]{% if image.collection.DOI %},
    "citation":  {
      "@type" : "Article",
      "identifier" : "https://doi.org/{{ image.collection.DOI }}"
    }
    {% endif %}
}
</script>
