<meta name="name" content="{{ image.name }}">
<meta name="description" content="{{ image.description }}">
<meta name="collection" content="{{ image.collection.name }}">
{% if image.thumbnail %}
  <meta name="thumbnail" content="http://www.neurovault.org{{ image.thumbnail.url }}">
{% endif %}
<meta name="file" content="http://www.neurovault.org{{ image.file.url }}">
<meta name="add_date" content="{{ image.add_date }}">
<meta name="brain_coverage" content="{{ image.brain_coverage }}">
<meta name="database" content="neurovault.org">
{% if image.collection.private %}
<meta name="robots" content="noindex">
{% endif %}

<script type="application/ld+json">
{
    "@context" : "http://schema.org/",
    "@type" : "Dataset",
    "@id" : "https://neurovault.org/images/{{ image.id }}",
    "url" : "https://neurovault.org/images/{{ image.id }}",
    "identifier": "https://identifiers.org/neurovault.image:{{ image.id }}",
    "name": "{{ image.collection.name|escape|linebreaks }}: {{ image.name }}",
    "description": "{{ image.description|escape|linebreaks }}{% if image.thumbnail %}\n\n ![glassbrain][1]
{% endif %}\n\n### Collection description\n\n {{ image.collection.description|escape|linebreaks }}\n\n### Subject species\n\n {{ image.subject_species }}\n\n### Modality\n\n {{ image.modality }}{% if image.thumbnail %}\n\n\n  [1]: https://neurovault.org/media/{{ image.thumbnail }}{% endif %}",
    "keywords" : [ "neuroscience", "neuroimaging" ],
    "includedInDataCatalog" : {
        "@type" : "DataCatalog",
        "name" : "NeuroVault",
        "url" : "https://neurovault.org"
    },
    "license":{
        "@type":"CreativeWork",
        "name":"CC0 1.0",
        "url":"https://creativecommons.org/publicdomain/zero/1.0/"
    },
    "distribution":[
     {
        "@type":"DataDownload",
        "encodingFormat":"NIfTI",
        "contentUrl":"https://neurovault.org/{{ image.file.url }}"
     }
    ]{% if image.collection.DOI %},
    "citation":  {
      "@type" : "Article",
      "identifier" : "https://doi.org/{{ image.collection.DOI }}"
    }
    {% endif %}
}
</script>
