<meta name="pagetype" content="collection">
<meta name="name" content="{{ collection.name }}">
<meta name="database" content="neurovault.org">
{% if collection.private %}
<meta name="robots" content="noindex">
{% endif %}
{% if collection.authors %}
<meta name="authors" content="{{ collection.authors }}">
{% endif %}
{% if collection.echo_time %}
<meta name="echo_time" content="{{ collection.echo_time }}">
{% endif %}
{% if collection.number_of_rejected_subjects %}
<meta name="number_related_subjects" content="{{ collection.number_of_rejected_subjects }}">
{% endif %}
{% if collection.inclusion_exclusion_criteria %}
<meta name="inclusion_exclusion_criteria" content="{{ collection.inclusion_exclusion_criteria }}">
{% endif %}
{% if collection.group_comparison %}
<meta name="group_comparison" content="{{ collection.group_comparison }}">
{% endif %}
{% if collection.paper_url %}
<meta name="paper_url" content="{{ collection.paper_url }}">
{% endif %}
{% if collection.subject_age_max %}
<meta name="subject_age_max" content="{{ collection.subject_age_max }}">
{% endif %}
{% if collection.add_date %}
<meta name="add_date" content="{{ collection.add_date }}">
{% endif %}
{% if collection.journal_name %}
<meta name="journal_name" content="{{ collection.journal_name }}">
{% endif %}
{% if collection.used_intersubject_registration %}
<meta name="used_intersubject_registration" content="{{ collection.used_intersubject_registration }}">
{% endif %}
{% if collection.intrasubject_estimation_type %}
<meta name="intrasubject_estimation_type" content="{{ collection.intrasubject_estimation_type }}">
{% endif %}
{% if collection.field_of_view %}
<meta name="field_of_view" content="{{ collection.field_of_view }}">
{% endif %}
{% if collection.order_of_preprocessing_operations %}
<meta name="order_of_preprocessing_operations" content="{{ collection.order_of_preprocessing_operations }}">
{% endif %}
{% if collection.smoothing_type %}
<meta name="smoothing_type" content="{{ collection.smoothing_type }}">
{% endif %}
{% if collection.smoothing_fwhm %}
<meta name="smoothing_fwhm" content="{{ collection.smoothing_fwhm }}">
{% endif %}
{% if collection.subject_age_min %}
<meta name="subject_age_min" content="{{ collection.subject_age_min }}">
{% endif %}
{% if collection.length_of_blocks %}
<meta name="length_of_blocks" content="{{ collection.length_of_blocks }}">
{% endif %}
{% if collection.used_orthogonalization %}
<meta name="used_orthogonalization" content="{{ collection.used_orthogonalization }}">
{% endif %}
{% if collection.used_b0_unwarping %}
<meta name="used_b0_unwarping" content="{{ collection.used_b0_unwarping }}">
{% endif %}
{% if collection.used_temporal_derivatives %}
<meta name="used_temporal_derivatives" content="{{ collection.used_temporal_derivatives }}">
{% endif %}
{% if collection.software_package %}
<meta name="collection.software_package" content="{{ collection.software_package }}">
{% endif %}
{% if collection.scanner_model %}
<meta name="collection.scanner_model" content="{{ collection.scanner_model }}">
{% endif %}
{% if collection.high_pass_filter_method %}
<meta name="collection.high_pass_filter_method" content="{{ collection.high_pass_filter_method }}">
{% endif %}
{% if collection.proportion_male_subjects %}
<meta name="collection.proportion_male_subjects" content="{{ collection.proportion_male_subjects }}">
{% endif %}
{% if collection.number_of_imaging_runs %}
<meta name="collection.number_of_imaging_runs" content="{{ collection.number_of_imaging_runs }}">
{% endif %}
{% if collection.interpolation_method %}
<meta name="interpolation_method" content="{{ collection.interpolation_method }}">
{% endif %}
{% if collection.group_repeated_measures_method %}
<meta name="group_repeated_measures_method" content="{{ collection.group_repeated_measures_method }}">
{% endif %}
{% if collection.motion_correction_software %}
<meta name="motion_correction_software" content="{{ collection.motion_correction_software }}">
{% endif %}
{% if collection.used_motion_regressors %}
<meta name="used_motion_regressors" content="{{ collection.used_motion_regressors }}">
{% endif %}
{% if collection.functional_coregistered_to_structural %}
<meta name="functional_coregistered_to_structural" content="{{ collection.functional_coregistered_to_structural }}">
{% endif %}
{% if collection.motion_correction_interpolation %}
<meta name="motion_correction_interpolation" content="{{ collection.motion_correction_interpolation }}">
{% endif %}
{% if collection.type_of_design %}
<meta name="type_of_design" content="{{ collection.type_of_design }}">
{% endif %}
{% if collection.optimization_method %}
<meta name="optimization_method" content="{{ collection.optimization_method }}">
{% endif %}
{% if collection.hemodynamic_response_function %}
<meta name="hemodynamic_response_function" content="{{ collection.hemodynamic_response_function }}">
{% endif %}
{% if collection.group_model_type %}
<meta name="group_model_type" content="{{ collection.group_model_type }}">
{% endif %}
{% if collection.used_slice_timing_correction %}
<meta name="used_slice_timing_correction" content="{{ collection.used_slice_timing_correction }}">
{% endif %}
{% if collection.intrasubject_modeling_software %}
<meta name="intrasubject_modeling_software" content="{{ collection.intrasubject_modeling_software }}">
{% endif %}
{% if collection.resampled_voxel_size %}
<meta name="resampled_voxel_size" content="{{ collection.resampled_voxel_size }}">
{% endif %}
{% if collection.object_image_type %}
<meta name="object_image_type" content="{{ collection.object_image_type }}">
{% endif %}
{% if collection.group_description %}
<meta name="group_description" content="{{ collection.group_description }}">
{% endif %}
{% if collection.skip_distance %}
<meta name="skip_distance" content="{{ collection.skip_distance }}">
{% endif %}
{% if collection.used_dispersion_derivatives %}
<meta name="used_dispersion_derivatives" content="{{ collection.used_dispersion_derivatives }}">
{% endif %}
{% if collection.functional_coregistration_method %}
<meta name="functional_coregistration_method" content="{{ collection.functional_coregistration_method }}">
{% endif %}
{% if collection.length_of_trials %}
<meta name="length_of_trials" content="{{ collection.length_of_trials }}">
{% endif %}
{% if collection.DOI %}
<meta name="doi" content="{{ collection.DOI }}">
{% endif %}
{% if collection.used_motion_correction %}
<meta name="used_motion_correction" content="{{ collection.used_motion_correction }}">
{% endif %}
{% if collection.pulse_sequence %}
<meta name="pulse_sequence" content="{{ collection.pulse_sequence }}">
{% endif %}
{% if collection.used_high_pass_filter %}
<meta name="used_high_pass_filter" content="{{ collection.used_high_pass_filter }}">
{% endif %}
{% if collection.full_dataset_url %}
<meta name="full_dataset_url" content="{{ collection.full_dataset_url }}">
{% endif %}
{% if collection.orthogonalization_description %}
<meta name="orthogonalization_description" content="{{ collection.orthogonalization_description }}">
{% endif %}
{% if collection.acquisition_orientation %}
<meta name="acquisition_orientation" content="{{ collection.acquisition_orientation }}">
{% endif %}
{% if collection.order_of_acquisition %}
<meta name="order_of_acquisition" content="{{ collection.order_of_acquisition }}">
{% endif %}
{% if collection.group_repeated_measures %}
<meta name="group_repeated_measures" content="{{ collection.group_repeated_measures }}">
{% endif %}
{% if collection.motion_correction_reference %}
<meta name="motion_correction_reference" content="{{ collection.motion_correction_reference }}">
{% endif %}
{% if collection.group_model_multilevel %}
<meta name="group_model_multilevel" content="{{ collection.group_model_multilevel }}">
{% endif %}
{% if collection.number_of_experimental_units %}
<meta name="number_of_experimental_units" content="{{ collection.number_of_experimental_units }}">
{% endif %}
{% if collection.handedness %}
<meta name="handedness" content="{{ collection.handedness }}">
{% endif %}
{% if collection.coordinate_space %}
<meta name="coordinate_space" content="{{ collection.coordinate_space }}">
{% endif %}
{% if collection.transform_similarity_metric %}
<meta name="transform_similarity_metric" content="{{ collection.transform_similarity_metric }}">
{% endif %}
{% if collection.repetition_time %}
<meta name="repetition_time" content="{{ collection.repetition_time }}">
{% endif %}
{% if collection.slice_thickness %}
<meta name="slice_thickness" content="{{ collection.slice_thickness }}">
{% endif %}
{% if collection.length_of_runs %}
<meta name="length_of_runs" content="{{ collection.length_of_runs }}">
{% endif %}
{% if collection.software_version %}
<meta name="software_version" content="{{ collection.software_version }}">
{% endif %}
{% if collection.autocorrelation_model %}
<meta name="autocorrelation_model" content="{{ collection.autocorrelation_model }}">
{% endif %}
{% if collection.b0_unwarping_software %}
<meta name="b0_unwarping_software" content="{{ collection.b0_unwarping_software }}">
{% endif %}
{% if collection.intersubject_transformation_type %}
<meta name="intersubject_transformation_type" content="{{ collection.intersubject_transformation_type }}">
{% endif %}
{% if collection.quality_control %}
<meta name="quality_control" content="{{ collection.quality_control }}">
{% endif %}
{% if collection.used_smoothing %}
<meta name="used_smoothing" content="{{ collection.used_smoothing }}">
{% endif %}
{% if collection.matrix_size %}
<meta name="matrix_size" content="{{ collection.matrix_size }}">
{% endif %}
{% if collection.optimization %}
<meta name="optimization" content="{{ collection.optimization }}">
{% endif %}
{% if collection.modify_date %}
<meta name="modify_date" content="{{ collection.modify_date }}">
{% endif %}
{% if collection.group_inference_type %}
<meta name="group_inference_type" content="{{ collection.group_inference_type }}">
{% endif %}
{% if collection.subject_age_mean %}
<meta name="subject_age_mean" content="{{ collection.subject_age_mean }}">
{% endif %}
{% if collection.used_motion_susceptibiity_correction %}
<meta name="used_motion_susceptibiity_correction" content="{{ collection.used_motion_susceptibiity_correction }}">
{% endif %}
{% if collection.intrasubject_model_type %}
<meta name="intrasubject_model_type" content="{{ collection.intrasubject_model_type }}">
{% endif %}
{% if collection.used_reaction_time_regressor %}
<meta name="used_reaction_time_regressor" content="{{ collection.used_reaction_time_regressor }}">
{% endif %}
{% if collection.group_modeling_software %}
<meta name="group_modeling_software" content="{{ collection.group_modeling_software }}">
{% endif %}
{% if collection.parallel_imaging %}
<meta name="parallel_imaging" content="{{ collection.parallel_imaging }}">
{% endif %}
{% if collection.intersubject_registration_software %}
<meta name="intersubject_registration_software" content="{{ collection.intersubject_registration_software }}">
{% endif %}
{% if collection.doi_add_date %}
<meta name="doi_add_date" content="{{ collection.doi_add_date }}">
{% endif %}
{% if collection.nonlinear_transform_type %}
<meta name="nonlinear_transform_type" content="{{ collection.nonlinear_transform_type }}">
{% endif %}
{% if collection.description %}
<meta name="description" content="{{ collection.description }}">
{% endif %}
{% if collection.field_strength %}
<meta name="field_strength" content="{{ collection.field_strength }}">
{% endif %}
{% if collection.group_estimation_type %}
<meta name="group_estimation_type" content="{{ collection.group_estimation_type }}">
{% endif %}
{% if collection.target_resolution %}
<meta name="target_resolution" content="{{ collection.target_resolution }}">
{% endif %}
{% if collection.slice_timing_correction_software %}
<meta name="slice_timing_correction_software" content="{{ collection.slice_timing_correction_software }}">
{% endif %}
{% if collection.scanner_make %}
<meta name="scanner_make" content="{{ collection.scanner_make }}">
{% endif %}
{% if collection.flip_angle %}
<meta name="flip_angle" content="{{ collection.flip_angle }}">
{% endif %}
{% if collection.motion_correction_metric %}
<meta name="motion_correction_metric" content="{{ collection.motion_correction_metric }}">
{% endif %}


<script type="application/ld+json">
{
    "@context" : "http://schema.org/",
    "@type" : "Dataset",
    "@id" : "https://neurovault.org/collections/{{ collection.id }}",
    "url" : "https://neurovault.org/collections/{{ collection.id }}",
    "identifier": [ "https://identifiers.org/neurovault.collection:{{ collection.id }}"{% if collection.private_token %},
                    "https://neurovault.org/collections/{{ collection.private_token }}"{% endif %} ],
    "name": "{{ collection.name }}",
    "description": "A collection of {{ collection.basecollectionitem_set.count }} brain maps.\n\n{{ collection.description }}",
    "keywords" : [ "neuroscience", "neuroimaging" ],
    "publisher" : {
        "@type" : "Organization",
        "name" : "NeuroVault",
        "url" : "https://neurovault.org"
    },
    "includedInDataCatalog" : {
        "@type" : "DataCatalog",
        "name" : "NeuroVault",
        "url" : "https://neurovault.org"
    },
    "license":{
        "@type":"CreativeWork",
        "name":"CC0 1.0",
        "url":"https://creativecommons.org/publicdomain/zero/1.0/"
    },
    "distribution":[
     {
        "@type":"DataDownload",
        "encodingFormat":"zip",
        "contentUrl":"https://neurovault.org/{% url 'download_collection' collection.id %}"
     }
    ]{% if collection.DOI %},
    "citation":  {
      "@type" : "Article",
      "identifier" : "https://doi.org/{{ collection.DOI }}"
    }
    {% endif %}
}
</script>
