<link href="{% static "css/viewer.css"%}" media="screen" rel="stylesheet" type="text/css" />
<script src="{% static "scripts/rainbow.js"%}" type="text/javascript"></script>
<script src="{% static "scripts/sylvester.js"%}" type="text/javascript"></script>
<script src="{% static "scripts/amplify.js"%}" type="text/javascript"></script>
<script src="{% static "scripts/panzoom.js"%}" type="text/javascript"></script>
<script src="{% static "scripts/viewer.js"%}" type="text/javascript"></script>
<script src="{% static "scripts/app.js"%}" type="text/javascript"></script>