{% extends "base.html" %}
{% load static from staticfiles %}
{% load crispy_forms_tags %}
{% block head %}
<title>{% block title %}Add a new image{% endblock %}</title>
<link href="{% static 'css/studies.css' %}" media="screen" rel="stylesheet" type="text/css"/>
<script src="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.2/js/select2.min.js
" type="text/javascript"></script>
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.2/js/select2.min.js" />
{% endblock %}
{% block content %}
<div class="col-md-12">
   <h2>Upload a statistical map</h2>
</div>
<div class="col-md-12">
    <hr> 
        <form  class="form-horizontal" method="post"  enctype="multipart/form-data">
    		{% crispy form %}
	</form>
</div>

{% include "statmaps/_contrast_lookup.html" %}

{% endblock %}
