{% extends "base.html" %}
{% load static from staticfiles %}
{% block head %}
<title>{% block title %}Atlases and parcellations{% endblock %}</title>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col">
        <h2>Atlases and Parcellations</h2>
        <div class="table-responsive-md">
             <table id="collection-images-datatable" class="table table-striped table-sm w-100">
                 <thead>
                      <tr>
                          <th>View</th>
                          <th>Name</th>
                          <th>Paper</th>
                          <th>Authors</th>
                          <th>Type</th>
                      </tr>
                 </thead>
             </table>
        </div>
    </div>
</div>

<script>
$(document).ready(function() {
    $('#collection-images-datatable').dataTable({
        "processing": true,
        "serverSide": true,
        "columnDefs": [
    		{ "orderable": false, "targets": 0 },
            { "visible": false, "targets": 0 }
  		],
        "order": [[ 1, "asc" ]],
        "ajax": "{% url 'atlases_and_parcellations_json' %}",
        "initComplete": function(settings, json) {
    		var collection_images = $(".viewimage")
        	$(collection_images[0]).addClass("active")
  		}
    });
} );
</script>
{% endblock %}
