{% extends "base.html" %}
{% load static from staticfiles %}

{% block includes %}
{% include "statmaps/_meta_collection.html" %}
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/gh/rii-mango/Papaya@build-1449/release/current/minimal/papaya.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/gh/rii-mango/Papaya@build-1449/release/current/minimal/papaya.css" />
{%  endblock %}

{% block functions %}
<script type='text/javascript'>

 function fillCitation() {
     var xhr = new XMLHttpRequest();
    xhr.open('GET', 'https://data.crossref.org/{{ collection.DOI }}', true);
    xhr.setRequestHeader('Accept', 'text/x-bibliography; style=apa');
    xhr.onload = function() {
        var status = xhr.status;
        if (status === 200) {
            $('#citation').text(xhr.response);
        }
    };
    xhr.send();
 }

 function showLoader() {
    document.getElementById('spinny').style.display = 'block';
    document.getElementById('fade').style.display = 'block';
  }

  function hideLoader() {
    document.getElementById('spinny').style.display = 'none';
    document.getElementById('fade').style.display = 'none';
  }

  // Function to add / remove image from viewer
  function viewimage(mrimage) {

     var params = []
     // Reset viewer and load new images
     $(".viewimage").removeClass("active")

      var tmpname = $(mrimage).attr("filename").replace(/^.*[\\\/]/, '')

      if ($(mrimage).attr("type") == "atlas" || $(mrimage).attr("type") == "parcellation") {
        params["images"] = ["{% static "images/"%}" + $(mrimage).attr("target_template_image") + ".nii.gz", $(mrimage).attr("filename")];
      	params[tmpname] = {"parametric": true,  "lut":"Spectrum", "alpha":"0.75",  minPercent: 0.0, maxPercent: 1.0};
      } else if ($(mrimage).attr("type") == "ROI/mask") {
        params["images"] = ["{% static "images/"%}" + $(mrimage).attr("target_template_image") + ".nii.gz",$(mrimage).attr("filename")];
        params[tmpname] = {"parametric": true,  "lut":"Overlay (Negatives)", "alpha":"0.75",  minPercent: 0.0, maxPercent: 1.0};
      } else if ($(mrimage).attr("type") == "anatomical") {
        params["images"] = [$(mrimage).attr("filename")];
      } else if ($(mrimage).attr("data_origin") == "surface"){
        params["images"] = ["{% static "images/"%}" + $(mrimage).attr("target_template_image") + ".nii.gz",$(mrimage).attr("filename")];
      	params[tmpname] = {"parametric": true,  "min":0, "lut":"OrRd", "negative_lut":"PuBu", "alpha":"0.75", "symmetric":true, minPercent: 0.0, maxPercent: 1.0};
      } else {
        params["images"] = ["{% static "images/"%}" + $(mrimage).attr("target_template_image") + ".nii.gz",$(mrimage).attr("filename")];
      	params[tmpname] = {"parametric": true,  "min":0, "lut":"OrRd", "negative_lut":"PuBu", "alpha":"0.75", "symmetric":true};
      }

      params["worldSpace"] = true;
      params["expandable"] = true;
      params["combineParametric"] = true;
      params["showControls"] = false;
      params["smoothDisplay"] = false;
      params["luts"] = [{"name":"PuBu", "data":[[0,1,0.968627,0.984314],[0.125,0.92549,0.905882,0.94902],[0.25,0.815686,0.819608,0.901961],[0.375,0.65098,0.741176,0.858824],[0.5,0.454902,0.662745,0.811765],[0.625,0.211765,0.564706,0.752941],[0.75,0.0196078,0.439216,0.690196],[0.875,0.0156863,0.352941,0.552941],[1,0.00784314,0.219608,0.345098]]},
      {"name":"OrRd", "data":[[0,1,0.968627,0.92549],[0.125,0.996078,0.909804,0.784314],[0.25,0.992157,0.831373,0.619608],[0.375,0.992157,0.733333,0.517647],[0.5,0.988235,0.552941,0.34902],[0.625,0.937255,0.396078,0.282353],[0.75,0.843137,0.188235,0.121569],[0.875,0.701961,0,0],[1,0.498039,0,0]]}];

      papaya.Container.resetViewer(0, params);  // specify new ones
      $(mrimage).addClass("active")

  }

(function() {
  var uldata;

  uldata = void 0;

  $(document).ready(function() {
    $('#show-viewer').click((function(_this) {
      return function() {
        window.viewer.paint();
        return setTimeout(function() {
          return window.viewer.paint();
        }, 1);
      };
    })(this));
    $('#delete_collection').click(function(e) {
      return confirm("Are you sure you want to delete this collection? This operation cannot be undone!");
    });
    $('.upload_archive').click(function(e) {
      return document.getElementById("id_file").click();
    });
    $('.upload_folder').click(function(e) {
      return document.getElementById("folder_input").click();
    });
    $('#id_file').change(function(e) {
      return document.upload_folder_form.submit();
    });
    $('#folder_input').change(function(e) {
      uldata = e.target.files;
      return $('#upload_process').modal('show');
    });
    $("#upload_process").on("shown.bs.modal", function(e) {
      var csrftoken, data, files, i, paths, xhr;
      paths = "";
      files = uldata;
      xhr = new XMLHttpRequest();
      data = new FormData();
      for (i in files) {
        if (files[i].name !== void 0 && files[i].webkitRelativePath !== void 0) {
          if (files[i].name.indexOf(".") !== 0 && files[i].webkitRelativePath.indexOf('.files') === -1) {
            data.append('paths[]', files[i].webkitRelativePath);
            data.append('file_input[]', files[i]);
          }
        }
      }

      csrftoken = $.cookie('csrftoken');
      xhr.open('POST', "upload_folder", true);
      xhr.setRequestHeader("X-CSRFToken", csrftoken);
      xhr.onloadstart = function(e){
                $('.modal-backdrop').removeClass("modal-backdrop");
                showLoader();
      };

      // We need to know when the request finishes.
      xhr.onload = function (e) {
      if (xhr.status === 200) {
            hideLoader();
            return document.location = '';
          };
      }
      xhr.send(data);
      //return document.location = "";
    });
    if (navigator.userAgent.indexOf("Safari") > -1 && navigator.userAgent.indexOf("Chrome") === -1) {
      return $('a[href="pycortex"]').hide();
    }
  });
}).call(this);

 {% if collection.DOI %}
    window.onload = fillCitation;
 {% endif %}
</script>
{% endblock %}

{% block head  %}
    <title>{% block title %}{{collection.name}}{% endblock %}</title>
{% endblock %}

{% block content %}
    <div id="fade"></div>
<!-- Meta data and header row-->
    <div class="row">
        <div class="col">
            <h2>{{ collection.name }}</h2>
            {% if collection.description %}
                <p><b>Description</b>: {{ collection.description }}</p>
            {% endif %}
            {% if collection.communities.all %}
                Communities:
                {% for community in collection.communities.all %}
                    <a href="{%  url 'view_community' community_label=community.label %}">{{ community.label }}</a>
                {% endfor %}
            {% endif %}
            {% if collection.DOI %}
                <p>Related article:
                    <a href="http://doi.org/{{ collection.DOI }}" id="citation">http://doi.org/{{ collection.DOI }}</a></p>
            {% endif %}
            {% if collection.full_dataset_url %}
                <p><a href="{{ collection.full_dataset_url }}">Source data:</a></p>
            {% endif %}
            {% if collection.private %}
                <p><em>Private Collection</em>: To share the link to this collection, please use the private url:
                                <a href="{{ request.path }}">https://neurovault.org{{ request.path }}</a>
                </p>
            {% endif %}
        </div>
    </div>

     {% if messages %}
         <div class="row">
            <div class="col-12">
                {% for message in messages %}
                <div class="alert alert-dismissible alert-danger">
                    {{ message|safe }}
                </div>
                {% endfor %}
            </div>
         </div>
     {% endif %}

    <form action="upload_folder" enctype="multipart/form-data" method= "POST" name="upload_folder_form">
    <div class="row mt-1 mb-1">
        <div class="col-12">


            {% if not is_empty %}
                {% if pycortex_compatible %}
                    <a class="btn btn-primary" href="pycortex">3D View</a>
                {% endif %}
                <a class="btn btn-primary" href="{% url 'download_collection' cid %}">Download</a>
            {% endif %}

            {% if edit_permission %}
                <a class="btn btn-primary" href="{% url 'add_image' cid %}">Add image</a>

                <div class="btn-group" role="group">
                    <button id="btnGroupDropEdit" type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Edit
                    </button>
                    <div class="dropdown-menu" aria-labelledby="btnGroupDropEdit">
                        <a class="dropdown-item" href="{% url 'edit_collection' cid %}">Collection Metadata</a>
                        {% if collection.is_statisticmap_set %}
                        <a class="dropdown-item" href="{% url 'edit_metadata' cid %}">Images Metadata</a>
                        {% else %}
                        <a class="dropdown-item disabled" href="#">Images Metadata</a>
                        {% endif %}
                    </div>
                </div>
                <div class="btn-group" role="group">
                    <button id="btnGroupDropUpload" type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Upload
                    </button>
                    <div class="dropdown-menu" aria-labelledby="btnGroupDropUpload">
                        <a class="dropdown-item upload_archive" href="#">Archive (.zip)</a>
                        <a class="dropdown-item upload_archive" href="#">NIDM-Results (.nidm.zip)</a>
                        <!--[if !IE]> -->
                        <a class="dropdown-item upload_folder" href="#">Folder</a>
                        <!-- <![endif]-->
                    </div>
                </div>

                {% if delete_permission %}
                    <a class="btn btn-danger" href="{% url 'delete_collection' cid %}" id="delete_collection"> Delete collection</a>
                {% endif %}<!--close delete permission-->

                <!-- Hidden file upload fields -->
                {% csrf_token %}
                <div style="height: 0px;width: 0px; overflow:hidden;">
                     {{ form.file }}
                     <input type="file" name="file_input[]" id="folder_input" multiple="" directory="" mozdirectory="" webkitdirectory="">
                     <input type="hidden" name="paths" id="paths">
                </div>

            {% endif %}<!-- close edit permissions-->
        </div>
    </div>
    <!-- Content-->
    <div class="row mt-2 mb-2">
        {% if is_empty and edit_permission %}
            <div class="col-12 center-text mt-1 mb-1">
                <div class="lead">
                    This collection is empty. You can:
                </div>
                <div class="btn-group-vertical w-100">
                    <a type="button" class="btn btn-light" href="{% url 'add_image' cid %}">Add
                        images one by one</a>
                    <a type="button" class="btn btn-light upload_archive"
                       href="#">Upload an archive with images (.zip or .tar.gz)</a>
                    <a type="button" class="btn btn-light upload_archive"
                       href="#">Upload a NIDM-Results file (.nidm.zip)</a>
                    <!--[if !IE]> -->
                    <a type="button" class="btn btn-light" class="upload_folder" href="#">Upload a
                        folder with images</a>
                    <!-- <![endif]-->
                </div>
                <div id="upload_process" class="modal" style="margin-top: 175px;" data-keyboard="false"></div>
            </div>
        {% elif not is_empty %} <!-- close if not empty -->
            <div class="col-md-6 mt-1 mb-1 d-none d-md-block" style="margin-top:20px; min-height:470px;"
                 id="for_papaya">
            </div>
            <div class="col-md-6 mt-1 mb-1">
                <!-- COLLECTION TABS -->

                <ul id='collection-tabs' class="nav nav-tabs" role="tablist">
                      {% if images_visible %}<li class="nav-item">
                          <a data-toggle='tab' class="nav-link active" role="tab" href='#images'>Images</a></li>{% endif %}
                      {% if gimages_visible %}<li class="nav-item">
                          <a data-toggle='tab' class="nav-link" role="tab" href='#gimages'>Group</a></li>{% endif %}
                      {% if simages_visible %}<li class="nav-item">
                          <a class="nav-link" data-toggle='tab' role="tab" href='#simages'>Single subject</a></li>{% endif %}
                      {% if oimages_visible %}<li class="nav-item">
                          <a data-toggle='tab' class="nav-link" role="tab" href='#oimages'>{{ oimages_title }}</a></li>{% endif %}
                      <li class="nav-item">
                          <a data-toggle='tab' class="nav-link" role="tab" href='#details'>Metadata</a></li>
                </ul>

                <div class='tab-content mt-3'>
                    {% if images_visible %}
                       <div id='images' class='tab-pane active'>
                           <div class="table-responsive-xl">
                               <table id="collection-images-datatable" class="table table-striped table-sm">
                                   <thead>
                                          <tr>
                                              <th scope="col" class="d-none d-md-table-cell">View</th>
                                              <th>ID</th>
                                              <th>Name</th>
                                              <th>Type</th>
                                          </tr>
                                   </thead>
                               </table>
                           </div>
                       </div>
                    {% endif %}
                    {% if gimages_visible %}
                       <div id='gimages' class='tab-pane {%  if gimages_active %}active{%  endif %}'>
                       <div class="table-responsive-xl">
                           <table id="collection-gimages-datatable" class="table table-striped table-sm">
                               <thead>
                                      <tr>
                                          <th scope="col" class="d-none d-md-table-cell">View</th>
                                          <th>ID</th>
                                          <th>Name</th>
                                          <th>Type</th>
                                      </tr>
                               </thead>
                           </table>
                       </div>
                       </div>
                    {% endif %}
                    {% if simages_visible %}
                       <div id='simages' class='tab-pane {%  if simages_active %}active{%  endif %}'>
                       <div class="table-responsive-xl">
                           <table id="collection-simages-datatable" class="table table-striped table-sm">
                               <thead>
                                      <tr>
                                          <th scope="col" class="d-none d-md-table-cell">View</th>
                                          <th>ID</th>
                                          <th>Name</th>
                                          <th>Type</th>
                                      </tr>
                               </thead>
                           </table>
                       </div>
                       </div>
                    {% endif %}
                    {% if oimages_visible %}
                       <div id='oimages' class='tab-pane {%  if oimages_active %}active{%  endif %}'>
                       <div class="table-responsive-xl">
                           <table id="collection-oimages-datatable" class="table table-striped table-sm">
                               <thead>
                                      <tr>
                                          <th scope="col" class="d-none d-md-table-cell">View</th>
                                          <th>ID</th>
                                          <th>Name</th>
                                          <th>Type</th>
                                      </tr>
                               </thead>
                           </table>
                       </div>
                      </div><!-- Close images tab-->
                    {% endif %}
                      <div id="details" class="tab-pane">
                          <div class="table-responsive-xl">
                          <table id="collection-details-datatable" class="table table-striped table-sm">
                              <thead>
                                  <tr>
                                      <th>Field</th>
                                      <th>Value</th>
                                  </tr>
                              </thead>
                              <tbody>
                                  <tr><td>Compact Identifier</td><td>https://identifiers.org/neurovault.collection:{{ collection.id }}</td></tr>
                                  <tr><td>Add Date</td><td>{{ collection.add_date }}</td></tr>
                                  {% if not collection.private %}
                                      <tr><td>Uploaded by</td><td>{{ collection.owner }}</td></tr>
                                  {% endif %}
                                  <tr><td>Contributors</td><td>{{ collection.contributor }}</td></tr>
                                  <tr><td>Related article DOI</td><td>{{ collection.DOI }}</td></tr>
                                  <tr><td>Related article authors</td><td>{{ collection.authors }}</td></tr>
                              </tbody>
                          </table>
                          </div>
                      </div><!-- close details tab-->
                      <div id="upload_process" class="modal" style="margin-top: 175px;" data-keyboard="false"></div>
                </div><!-- close tab content-->
            </div>
        {% endif %}
    </div>
    </form>

    <div class="row">
        <div class="col-12">
            <div class="card">
            <div class="card-header">Citation guidelines</div>
              <div class="card-body">
                <p class="card-text">If you use the data from this collection
                    please include the following persistent identifier in the text of your manuscript:</p>
                  <pre>https://identifiers.org/neurovault.collection:{{ collection.id }}</pre>
                  <p class="card-text">This will help to track the use of this data in the literature.
                    {% if collection.DOI %}
                        In addition, consider also citing <a href="http://doi.org/{{ collection.DOI }}">the paper related to this collection.</a>
                    {% endif %}
                </p>
              </div>
            </div>
        </div>
    </div>

<div id='spinny' class='modal neuron_loader' style='margin-top: 175px; left:45%; top:15%' data-keyboard='false'>
     <img src="{% static "images/spinner.gif"%}"/>
</div><!-- close spinner-->

<script>
$(document).ready(function() {
    $('#collection-details-datatable').dataTable({
      responsive: true
    });
    {% if images_visible %}
    $('#collection-images-datatable').dataTable({
        "processing": true,
        "serverSide": true,
        "pagingType": "full",
		"iDisplayLength": 7,
        "lengthMenu": [7, 10, 25, 50, 75, 100],
        "columnDefs": [
    		{ "orderable": false, "targets": 0, className: "d-none d-md-table-cell" }
  		],
        "order": [[ 1, "asc" ]],
        "createdRow": function( row, data, dataIndex ) {
              if (data[4] == false) {
                $(row).removeClass('odd');
                $(row).addClass('invalid');
              }
        },
        {% if collection.private %}
        "ajax": "{% url 'collection_images_json' collection.private_token %}"
        {% else %}
        "ajax": "{% url 'collection_images_json' collection.id %}"{% endif %}{% if not is_empty %},
        "initComplete": function(settings, json) {
            if($('#for_papaya').is(':visible')) {
                $("#for_papaya").append("<div class=\"papaya\" class=\"mw-100\" style=\"float:left;\"></div>")
                papaya.Container.startPapaya();
                var collection_images = $(".viewimage")
                viewimage($(collection_images[0]))
            }
  		}
  		{% endif %}
    });
    {% endif %}
    {% if gimages_visible %}
    $('#collection-gimages-datatable').dataTable({
        "processing": true,
        "serverSide": true,
        "pagingType": "full",
		"iDisplayLength": 7,
        "lengthMenu": [7, 10, 25, 50, 75, 100],
        "columnDefs": [
    		{ "orderable": false, "targets": 0, className: "d-none d-md-table-cell" }
  		],
        "order": [[ 1, "asc" ]],
        "createdRow": function( row, data, dataIndex ) {
              if (data[4] == false) {
                $(row).removeClass('odd');
                $(row).addClass('invalid');
              }
        },
        {% if collection.private %}
        "ajax": "{% url 'collection_gimages_json' collection.private_token %}"
        {% else %}
        "ajax": "{% url 'collection_gimages_json' collection.id %}"{% endif %}
        {% if not is_empty and gimages_active %},
        "initComplete": function(settings, json) {
            if($('#for_papaya').is(':visible')) {
                $("#for_papaya").append("<div class=\"papaya\" class=\"mw-100\" style=\"float:left;\"></div>")
                papaya.Container.startPapaya();
                var collection_images = $(".viewimage")
                viewimage($(collection_images[0]))
            }
  		}
  		{% endif %}
    });
    {% endif %}
    {% if simages_visible %}
    $('#collection-simages-datatable').dataTable({
        "processing": true,
        "serverSide": true,
        "pagingType": "full",
		"iDisplayLength": 7,
        "lengthMenu": [7, 10, 25, 50, 75, 100],
        "columnDefs": [
    		{ "orderable": false, "targets": 0, className: "d-none d-md-table-cell" }
  		],
        "order": [[ 1, "asc" ]],
        "createdRow": function( row, data, dataIndex ) {
              if (data[4] == false) {
                $(row).removeClass('odd');
                $(row).addClass('invalid');
              }
        },
        {% if collection.private %}
        "ajax": "{% url 'collection_simages_json' collection.private_token %}"
        {% else %}
        "ajax": "{% url 'collection_simages_json' collection.id %}"
        {% endif %}
        {% if not is_empty and simages_active %},
        "initComplete": function(settings, json) {
            if($('#for_papaya').is(':visible')) {
                $("#for_papaya").append("<div class=\"papaya\" class=\"mw-100\" style=\"float:left;\"></div>")
                papaya.Container.startPapaya();
                var collection_images = $(".viewimage")
                viewimage($(collection_images[0]))
            }
  		}
  		{% endif %}
    });
    {% endif %}
    {% if oimages_visible %}
    $('#collection-oimages-datatable').dataTable({
        "processing": true,
        "serverSide": true,
        "pagingType": "full",
		"iDisplayLength": 7,
        "lengthMenu": [7, 10, 25, 50, 75, 100],
        "columnDefs": [
    		{ "orderable": false, "targets": 0, className: "d-none d-md-table-cell" }
  		],
        "order": [[ 1, "asc" ]],
        "createdRow": function( row, data, dataIndex ) {
              if (data[4] == false) {
                $(row).removeClass('odd');
                $(row).addClass('table-danger');
              }
        },
        {% if collection.private %}
        "ajax": "{% url 'collection_oimages_json' collection.private_token %}"
        {% else %}
        "ajax": "{% url 'collection_oimages_json' collection.id %}"{% endif %}
        {% if not is_empty and oimages_active %},
        "initComplete": function(settings, json) {
            if($('#for_papaya').is(':visible')) {
                $("#for_papaya").append("<div class=\"papaya\" class=\"mw-100\" style=\"float:left;\"></div>")
                papaya.Container.startPapaya();
                var collection_images = $(".viewimage")
                viewimage($(collection_images[0]))
            }
  		}
  		{% endif %}
    });
    {% endif %}
} );
</script>
{% comment %}
<a href="{{collection.url}}">{{collection.name}}</a> by {{collection.authors}}
{% endcomment %}
{% endblock %}
