{% extends "base.html" %}
{% load coffeescript %}
{% block includes %}
    :javascript
        var images = [
        {% for image in collection.image_set.all %}
        {
            'name': '{{ image.name }}',
            'url': '{{ image.json_path }}',
            'json': true,
            'colorPalette': 'red'
        },
        {% endfor %}]

    {% include 'statmaps/_viewer_head.html.haml' %}
    
    :javascript
        {% inlinecoffeescript %}
            $(document).ready ->
                $('#show-viewer').click( () =>
                    window.viewer.paint()
                    setTimeout(() ->
                        window.viewer.paint()
                    , 1)
                )

                $("table[class*=collection-details-datatable]").dataTable
                    sDom: "<'row-fluid'<'span6'l><'span6'f>r>t<'row-fluid'<'span6'i><'span6'p>>"
                    sPaginationType: "bootstrap"
                    sAjaxSource: "/api/collections/" + {{collection.id}} + "/datatable/?format=json"
                    iDisplayLength: 10

                $("table[class*=collection-images-datatable]").dataTable
                    sDom: "<'row-fluid'<'span6'l><'span6'f>r>t<'row-fluid'<'span6'i><'span6'p>>"
                    sPaginationType: "bootstrap"
                    iDisplayLength: 10
                    aoColumns: [ { sWidth: '15%'}, { sWidth: '15%' }, { sWidth: '70%'}]

                $('#collection-tabs a:first').tab('show')

        {% endinlinecoffeescript %}
{% endblock %}

{% block content %}
.row
    .span11
        %h2 {{ collection.name }}
        - if collection.authors
            .lead {{collection.authors}}
        %ul#collection-tabs.nav.nav-tabs
            %li
                %a{href:'#details', data-toggle:'tab'} Details
            %li
                %a{href:'#images', data-toggle:'tab'} Images
            %li#show-viewer
                %a{href:'#viewer', data-toggle:'tab'} Viewer

        .tab-content
            #details.tab-pane.active
                %table.table.table-condensed.table-striped.table-hover.collection-details-datatable
                    %thead
                        %tr
                            %th Field
                            %th Value
                    %tbody
            #images.tab-pane
                %table.table.table-striped.table-hover.collection-images-datatable
                    %thead
                        %tr
                            %th Name
                            %th Tags
                            %th Description
                    %tbody
                        - for image in collection.image_set.all
                            %tr
                                %td= image.name
                                %td Need to stringify tags
                                %td= image.description

            #viewer.tab-pane
                {% include 'statmaps/_viewer_content.html.haml' %}

{% comment %}
{% for image in collection.image_set.all %}
    <li><a href="{% url 'image_details' image.id %}">{{ image.name }}</a></li>
{% endfor %}

<a href="{{collection.url}}">{{collection.name}}</a> by {{collection.authors}}

<a href="{% url 'edit_images' collection.id %}">Add/edit files</a>
{% endcomment %}
{% endblock %}
