{% extends "base.html" %}
{% load coffeescript %}

{% block head %}
<title>{% block title %}Collections{% endblock %}</title>
    <script>
       $(document).ready(function() {
          var prevSearch;
    	  var saveState = true;
    	  var captured = /q=([^&]+)/.exec(window.location.href);
          var result = captured ? captured[1] : '';
          var base_url = captured  != '' ? window.location.href.split("?")[0] : window.location.href;
          $('#collections-table').dataTable({
                    "bJQueryUI": true,
                    sDom: "<'row-fluid'<'span6'l><'span6'f>r>t<'row-fluid'<'span6'i><'span6'p>>",
                    iDisplayLength: 25,
                    aoColumns: [ { sWidth: '40%' }, { sWidth: '10%'}, { sWidth: '45%'}, { sWidth: '5%'}],
                    "processing": true,
        			"serverSide": true,
        			"columnDefs": [
    					{ "orderable": false, "targets": 1 },
    					{ "orderable": false, "targets": 3 },
  					],
        			"order": [[ 0, "asc" ]],
        			"ajax": "{% url 'collections_list_json' %}",
        			"oSearch":{"sSearch":result},
					"fnDrawCallback": function (oSettings) {
						var curSearch = oSettings.oPreviousSearch.sSearch;
						history.replaceState({query:curSearch}, "title", base_url+"?q=" + curSearch);
					}
				});
       });
    </script>

{% endblock %}

{% block content %}
.row
	.span11
		%h2 Collections
		.lead
			%p A collection is a set of images grouped together for some sensible reason.
			%p Most commonly, a collection contains all of the images from a single study.

		%table#collections-table.table.table-condensed.table-striped.table-hover
			%thead
				%tr
					%th Name
					%th Num. images
					%th Description
					%th Has DOI?

.row
	%a.btn.btn-primary{href: "{% url 'new_collection' %}" } Add new collection

.row
    .span11.text-center
    	.massive
			<div class="addthis_toolbox addthis_default_style" style="width: 400px; margin: 0 auto;">
			<a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
			<a class="addthis_button_tweet"></a>
			<a class="addthis_button_google_plusone" g:plusone:size="medium"></a>
			<a class="addthis_counter addthis_pill_style"></a>
			</div>
			<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=xa-51b9d30552a8a690"></script>

{% endblock %}
