{% extends "base.html" %}
{% load coffeescript %}
{% block head %}
<title>{% block title %}NeuroVault: {{collection.name}}{% endblock %}</title>
    :javascript
        {% inlinecoffeescript %}
            uldata = undefined
            $(document).ready ->

                $('#show-viewer').click( () =>
                    window.viewer.paint()
                    setTimeout(() ->
                        window.viewer.paint()
                    , 1)
                )

                $("table[class*=collection-details-datatable]").dataTable
                    sDom: "<'row-fluid'<'span6'l><'span6'f>r>t<'row-fluid'<'span6'i><'span6'p>>"
                    sAjaxSource: "/api/collections/" + "{{cid}}" + "/datatable/?format=json"
                    iDisplayLength: 10

                $("table[class*=collection-images-datatable]").dataTable
                    sDom: "<'row-fluid'<'span6'l><'span6'f>r>t<'row-fluid'<'span6'i><'span6'p>>"
                    iDisplayLength: 10
                    aoColumns: [ { sWidth: '7%'}, { sWidth: '43%'}, { sWidth: '12%' }, { sWidth: '15%'}, { sWidth: '23%'}]
                    fnRowCallback: (nRow, aData, iDisplayIndex) ->
                        nRow

                $('#collection-tabs a:first').tab('show')

                # Confirm deletion dialog, to prevent accidents
                $('#delete_collection').click((e) ->
                    confirm("Are you sure you want to delete this collection? This operation cannot be undone!")
                )

                $('#upload_archive').click((e) ->
                    document.getElementById("{{form.file.auto_id}}").click()
                )

                $('#upload_folder').click((e) ->
                    document.getElementById("folder_input").click()
                )

                $('#{{form.file.auto_id}}').change((e) ->
                    document.upload_folder_form.submit();
                )

                $('#folder_input').change((e) ->
                    uldata = e.target.files
                    $('#upload_process').modal 'show'
                )

                $("#upload_process").on "shown.bs.modal", (e) ->

                    paths = ""
                    files = uldata
                    xhr = new XMLHttpRequest()
                    data = new FormData()

                    for i of files
                        if files[i].name != undefined && files[i].webkitRelativePath != undefined
                            if files[i].name.indexOf(".") != 0  && files[i].webkitRelativePath.indexOf('.files') == -1
                                data.append('paths[]', files[i].webkitRelativePath)
                                data.append('file_input[]', files[i])

                    csrftoken = $.cookie('csrftoken')
                    xhr.open 'POST', "upload_folder", false
                    xhr.setRequestHeader "X-CSRFToken", csrftoken
                    xhr.send(data)
                    $('#upload_process').modal
                    document.location = ""


                if navigator.userAgent.indexOf("Safari") > -1 and navigator.userAgent.indexOf("Chrome") == -1
                    $('a[href="pycortex"]').hide()

        {% endinlinecoffeescript %}
{% endblock %}

{% block content %}
.row
    .span11
        %h2 {{ collection.name }}
        %p Contributed by {{ collection.owner }}
        - if collection.authors
            .lead {{collection.authors}}
        - if collection.DOI
            .lead
                %a{href:"{{ collection.url }}" } Link to the paper
        - if collection.full_dataset_url
            .lead
                Full dataset available at:
                %a{href:"{{ collection.full_dataset_url }}" }
                  {{ collection.full_dataset_url }}


        .management-options
            %form{action: "upload_folder", enctype: "multipart/form-data", method: "POST", name: "upload_folder_form"}
              - if collection.image_set.all
                  %a.btn.btn-primary{href: "pycortex" } 3D View
              - if edit_permission
                  .btn-group
                    %a.btn.btn-primary.dropdown-toggle{href: "#", data-toggle: "dropdown", style: "margin-left: 5px"} Edit
                      %span.caret
                    %ul.dropdown-menu
                      %li
                        %a{href: "{% url 'edit_collection' cid %}" } Collection Metadata
                     - if collection.image_set.all
                      %li
                        -#%a{href: "{% url 'edit_images' cid %}" } Images
                      %li
                        %a{href: "{% url 'edit_metadata' cid %}" } Images Metadata

                  -#%a.btn.btn-primary{href: "{% url 'add_image' cid %}" } Add image
                 - if collection.image_set.all
                  .btn-group
                    %a.btn.btn-primary.dropdown-toggle{href: "#", data-toggle: "dropdown"} Upload
                      %span.caret
                    %ul.dropdown-menu
                      %li
                        %a{id:"upload_archive", href: "#" } Archive (.zip)
                      <!--[if !IE]> -->
                      %li
                        %a{id:"upload_folder", href: "#" } Folder
                      <!-- <![endif]-->
                  - if delete_permission
                      .float-right-wrapper
                       %a.btn.btn-danger{href: "{% url 'delete_collection' cid %}", id:"delete_collection"} Delete collection
                  {% csrf_token %}
                  %div{style: "height: 0px;width: 0px; overflow:hidden;"}
                     {{ form.file }}
                     %input{type: "file", name: "file_input[]", id: "folder_input", multiple:"", directory:"", mozdirectory:"", webkitdirectory:""}
                     %input{type: "hidden", name: "paths", id: "paths"}

                 - if collection.private
                    .lead
                        %div{style: "font-size:16px; margin-top:20px;"}
                            <em>Private Collection</em>: To share the link to this collection, please use the private url:
                                    %a{href: "{{ request.path }}" }
                                        {{ request.path }}

        {% if messages %}
        %ul.messages
        {% for message in messages %}
            .alert.fade.in{class:"{{ message.tags }}"}
                %button.close{"data-dismiss" => "alert", :type => "button"} ×
                {{ message }}
        {% endfor %}
        {% endif %}


        %ul#collection-tabs.nav.nav-tabs
            %li
                %a{href:'#images', data-toggle:'tab'} Images
            %li
                %a{href:'#details', data-toggle:'tab'} Details

        .tab-content
            #images.tab-pane.active
                - if collection.image_set.all or not edit_permission
	                %table.table.table-striped.table-hover.collection-images-datatable
	                    %thead
	                        %tr
	                            %th ID
	                            %th Name
	                            %th Tags
	                            %th Type
	                            %th Description
	                    %tbody
	                        - for image in images
	                            %tr
	                                %td= image.id
	                                %td
	                                     - if image.zip_name
	                                        %a{ href: "{{image.nidm_results.get_absolute_url}}" }
	                                            {{image.nidm_results.name}}
	                                        &nbsp;<i class="icon-double-angle-right"></i>&nbsp;
	                                        %a{ href: "{{image.get_absolute_url}}" }
	                                            {{ image.name }}
	                                     - else
	                                        %a{ href: "{{image.get_absolute_url}}" }= image.name
	                                %td
	                                    - for tag in image.tags.all
	                                        %a{ href: "/images/tags/{{tag.name}}" }= tag.name
	                                        - if not forloop.last

	                                %td= image.polymorphic_ctype.name
	                                %td
	                                    - if image.zip_name
	                                        NIDMResults:
	                                        %a{href: "{{image.nidm_results.zip_file.url}}" }
	                                            {{image.nidm_results.name}}.zip
	                                    - else
	                                        {{image.description}}
                - else
                    .light-head.center-text
                        This collection is empty. You can:
                        <br><br>
                        {% csrf_token %}
                        %div{style: "height: 0px;width: 0px; overflow:hidden;"}
                            {{ form.file }}
                            %input{type: "file", name: "file_input[]", id: "folder_input", multiple:"", directory:"", mozdirectory:"", webkitdirectory:""}
                            %input{type: "hidden", name: "paths", id: "paths"}
                        %a.btn.btn-lg.btn-primary{href: "{% url 'add_image' cid %}" } Add images one by one
	                    %a.btn.btn-lg.btn-primary{id:"upload_archive"} Upload an archive with images (.zip or .tar.gz)
	                    <!--[if !IE]> -->
	                    %a.btn.btn-lg.btn-primary{id:"upload_folder"} Upload a folder with images
	                    <!-- <![endif]-->

            #details.tab-pane
                %table.table.table-condensed.table-striped.table-hover.collection-details-datatable
                    %thead
                        %tr
                            %th Field
                            %th Value
                    %tbody
            #viewer.tab-pane
                {% include 'statmaps/_neurosynth_viewer_content.html.haml' %}

            #upload_process.modal{data-backdrop: 'static', data-keyboard:'false', style: 'margin-top: 175px;'}
                .modal-dialog
                    .modal-content
                        .modal-header
                            %h4 Processing upload...
                        .modal-body
                            .progress
                                .progress-bar.active{"style":"width: 100%;"}
                                .progress-bar{"style":"width: 100%;"}

{% comment %}
{% for image in collection.image_set.all %}
    <li><a href="{% url 'image_details' image.id %}">{{ image.name }}</a></li>
{% endfor %}

<a href="{{collection.url}}">{{collection.name}}</a> by {{collection.authors}}

<a href="{% url 'edit_images' cid %}">Add/edit files</a>
{% endcomment %}
{% endblock %}
