{% extends "base.html" %}
{% load coffeescript %}
{% block head %}
<script type="text/javascript"> 
var addthis_config = {
     data_track_clickback: false 
} 
</script>
{% endblock %}
{% block content %}

 {% autoescape off %}
    {% for snippet in html %}
       {{ snippet }}
    {% endfor %}
 {% endautoescape %}

<script type="text/javascript"> 

var portfolio_filter = document.getElementsByClassName("portfolio-filter")
var li = document.createElement("li");
var a = document.createElement("a");
var image_a = document.createElement("a");

function setAttributes(el, attrs) {
  for(var key in attrs) {
    el.setAttribute(key, attrs[key]);
  }
}

setAttributes(a, {"class": "btn btn-warning", "disabled": "true"});
setAttributes(image_a,{"style": "float:right; margin-right:40px; font-weight:800;", "href": "{{ image_url }}"});

a.appendChild(document.createTextNode(["{{ images_processing }} images still processing"]));
image_a.appendChild(document.createTextNode(["{{ image_title }}"]));
li.appendChild(a)
portfolio_filter[0].appendChild(li.appendChild(image_a));

// change oranges to NeuroVault blue
var text = document.getElementsByTagName("span")
for (i = 0; i < text.length; i++) { 
  setAttributes(text[i],{"style":"color:#0088cc;"});
}
</script>

{% endblock %}
