{% extends "base.html" %}
{% load static from staticfiles %}
{% block head %}
<title>{% block title %}Image Comparison{% endblock %}</title>
<script src="{% static "scripts/d3.v3.min.js" %}"></script>
{% endblock %}
{% block content %}

    {% if warnings %}
       {% for warning in warnings %}
        <div class="alert alert-danger" style="width:90%; margin-bottom:5px; margin-top:5px">{{ warning }}</div>   
       {% endfor %}
    {% endif %}

 {% autoescape off %}
    {% for snippet in html %}
       {{ snippet }}
    {% endfor %}
 {% endautoescape %}

<style>    
       body {
         font: 14px sans-serif;
       }
</style>
<div style="width:90%; margin-left:42px; margin-top:30px">
    <h5>About</h5>
    <div class="well">
    Regional correlations are calculated from a brain-masked, 4mm transformation of the original image.  This visualization displays every 10th voxel for rendering purposes only.</div></div>

{% endblock %}


