{% extends "base.html" %}
{% load coffeescript %}
{% block head %}
<script type="text/javascript"> 
var addthis_config = {
     data_track_clickback: false 
} 
</script>
{% endblock %}
{% block content %}

 {% autoescape off %}
    {% for snippet in html %}
       {{ snippet }}
    {% endfor %}
 {% endautoescape %}

<script type="text/javascript"> 

var portfolio_filter = document.getElementsByClassName("portfolio-filter")
var li = document.createElement("li");
var a = document.createElement("a");

function setAttributes(el, attrs) {
  for(var key in attrs) {
    el.setAttribute(key, attrs[key]);
  }
}

setAttributes(a, {"class": "btn btn-warning", "disabled": "true"});
a.appendChild(document.createTextNode(["{{ images_processing }} images still processing"]));
portfolio_filter[0].appendChild(li.appendChild(a))

$(document).ready(function() {

    //$('li.portfolio-item').find('a.btn-danger').click(function(event) {
        //event.preventDefault;
        //debugger;
    //    return false;
    //});
});

</script>

{% endblock %}
