{% extends "base.html" %}
{% load coffeescript %}

{% block head %}
<title>{% block title %} Similarity search {% endblock %}</title>
    <script>
       $(document).ready(function() {
          $('#similarity-table').dataTable({
          			bFilter: false,
          			bInfo: false,
          			lengthChange: false,
          			paging: false,
                    sDom: "<'row-fluid'<'span6'l><'span6'f>r>t<'row-fluid'<'span6'i><'span6'p>>",
                    aoColumns: [ { sWidth: '40%' }, { sWidth: '0%'}, { sWidth: '20%'}, { sWidth: '30%'}, { sWidth: '10%'}, { sWidth: '5%'}],
        			"columnDefs": [
									{
										"render": function ( data, type, row ) {
										return "<a href='http://www.neurovault.org/images/" + row[1] +"'>" + data + "</a>";
										},
										"targets":[ 2 ]
									},
									{
										"render": function ( data, type, row ) {
										return "<img src=" + data + " />";
										},
										"targets":[ 3 ]
									},
    								{ "orderable": false, "targets": 3 },
    								{ "targets": [ 1 ], "visible": false },
  									],
        			"order": [[ 4, "desc" ]],
        			"ajax": "{% url 'find_similar_json' pk=image.pk %}",
				});
       });
    </script>

{% endblock %}


{% block content %}
.row
	.span11
		%h2 Similarity search
		%h3 <a href="{{ image.get_absolute_url }}">{{ image_title }}</a> <img src="{{ query_png }} " />


		%table#similarity-table.table.table-condensed.table-striped.table-hover
			%thead
				%tr
					%th Collection
					%th ID
					%th Name
					%th png
					%th score
					%th tag

.row
	.span11
		%p <strong>About</strong>
		%div.well
			This map has been compared with gene expression data obtained from <a href="http://human.brain-map.org/">Allen Human Brain Atlas</a>. For every
			gene and each of the six brains donated to the Allen Brain Institute a linear model has been fitted to see
			how similar they are to the evaluated map. A one sample t test has been used see how consistent the relation
			between the gene expression and evaluated map values are across the six donated brains. To account for
			the number of tested genes False Discovery Rate correction has been applied.
{% endblock %}
