{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static from staticfiles %}

{% block head %}
    <title>{% block title %}Edit metaanalysis{% endblock %}</title>
    %link{ href:"{% static 'css/studies.css' %}", media:"screen", rel:"stylesheet", type:"text/css"}
{% endblock %}
{% block content %}
.row
    .col-md-12
        %h2 {{page_header}}
        .lead
            %p
.row
    .col-md-12
        %hr
        {% crispy form %}
{% endblock %}
