{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block head %}
    %link{ href:"{% static 'css/studies.css' %}", media:"screen", rel:"stylesheet", type:"text/css"}
{% endblock %}

{% block content %}
.row
    .col-md-10
        {% crispy form %}
{% endblock %}
