<html xmlns="http://www.w3.org/1999/xhtml">
<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}NeuroVault: a new home for all brain statistical maps!{% endblock %}</title>
    <script src="{% static "scripts/jquery.min.js"%}" type="text/javascript"></script>
    <script src="{% static "scripts/jquery-ui.min.js"%}" type="text/javascript"></script>
    <script src="{% static "scripts/bootstrap.min.js"%}" type="text/javascript"></script>
    <link rel="stylesheet" href="{% static "css/bootstrap.css" %}" />
    <link href="{% static "css/jquery-ui.css"%}" media="screen" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="{% static "css/style.css" %}" />
    {% block includes %}
    {% endblock %}
<head runat="server">
<script language="javascript" type="text/javascript">
    function ShowHide(i) {
        document.getElementById('divtab2').style.visibility = 'hidden';
        if (i==1)
            {
                document.getElementById('divtab2').style.visibility = 'hidden';
                document.getElementById('divtab1').style.visibility = 'visible';
           }
            if (i==2){
               document.getElementById('divtab1').style.visibility = 'hidden';
               document.getElementById('divtab2').style.visibility = 'visible';
           }
    }
</script>
    <title></title>
</head>
<body>
    <div class="container" id="main">
        <div class="navbar">
            <div class="navbar-inner">
                <a class="brand" href="#">NeuroVault</a>
                <ul class="nav">
                    <li><a href="{% url 'index' %}">Home</a></li>
                    {% if user.is_authenticated %}
                        <li><a href="{% url 'my_profile' %}">{{ user.username }}</a></li>
                        <li><a href="{% url 'logout' %}">Log out</a></li>
                    {% else %}
                        <li><a href="{% url 'login' %}">Log in</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
        <div class="row" id="content">
            <div class="span12">

    <form id="form1" runat="server">
    <div class="divAreaTabs"  runat="server" id="tabs">
<ul>
 
    <li id="tab1" class="activeTab" onclick="ShowHide('1');"><a href="#">Tab 1</a></li>
    <li id="tab2" onclick="ShowHide('2');"><a href="#">Tab 2</a></li>
    <div style="clear: both;"></div>
</ul>

<form action="" method="post">{% csrf_token %}
<div class="divAreaTabsContent">
<div id="divtab1" onclick="ShowHide('1');">
	{{ form.as_p }}
</div>
<div id="divtab2">

</div>
</div>
<script language="javascript" type="text/javascript">
    ShowHide();
</script>
</div>
<input type="submit" value="Submit" />
</form>
            </div>
        </div>
    </div>
</body>
</html>

