{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static from staticfiles %}

{% block head %}
    <link href="{% static 'css/studies.css' %}" media="screen" rel="stylesheet" type="text/css" />
    <script src="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.2/js/select2.min.js
" type="text/javascript"></script>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.2/js/select2.min.js" />
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-11" id="form_column">
        {% if form.instance.nidm_results %}
            <div class="alert alert-info">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                This statistic map is embedded in <strong><a href="{{form.instance.nidm_results.get_absolute_url}}">{{form.instance.nidm_results.name}}.zip</a></strong>.  Edit the NIDM zip file to modify this image's properties.
            </div>
        {% endif %}
        <form  class="form-horizontal" method="post" enctype="multipart/form-data">
    		{% crispy form %}
        </form>
    </div>
</div>

{% include "statmaps/_contrast_lookup.html" %}

{% endblock %}
