{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block includes %}
    %link{ href:"{% static 'css/studies.css' %}", media:"screen", rel:"stylesheet", type:"text/css"}
{% endblock %}

{% block content %}
.row
    .span11
        / / {{ form.errors }} {{ form.non_field_errors }}
        / %h2 {{ page_header }}
        / %form{method: 'post'}
        /     {% csrf_token %}
        /     %ul.nav.nav-tabs
        /         %li
        /             %a{href:'#basics', data-toggle:'tab'} Essentials
        /         - for fs in form.fieldsets
        /             %li
        /                 %a{href: '#{{ fs.name }}', data-toggle:'tab' }= fs.legend

        /     .tab-content
        /         #basics.tab-pane.active
        /             .fieldWrapper.required
        /                 {{ form.name.errors }}
        /                 %label Name:
        /                 {{ form.name }}
        /             .fieldWrapper
        /                 {{ form.DOI.errors }}
        /                 %label DOI (if available):
        /                 {{ form.DOI }}
        /             .fieldWrapper.required
        /                 {{ form.description.errors }}
        /                 %label Description:
        /                 {{ form.description }}    
        /         - for fs in form.fieldsets
        /             .tab-pane{id: '{{fs.name}}'}
        /                 - for field in fs
        /                     <div class = 'fieldWrapper' {{ field.row_attrs }}>
        /                         {{ field.errors }}
        /                         %label{title: '{{ field.help_text }}'}
        /                             {{field.name}}:
        /                         {{ field }}
        /                     </div>
        /     %input.btn.btn-large.btn-primary{type: 'submit'}

        {% crispy form %}
{% endblock %}