{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static from staticfiles %}

{% block head %}
    <title>{% block title %}Edit collection{% endblock %}</title>
    %link{ href:"{% static 'css/studies.css' %}", media:"screen", rel:"stylesheet", type:"text/css"}
{% endblock %}
{% block content %}
.row
    .col-md-12
        %h2 {{page_header}}
        .lead
            %p A collection is a set of images grouped together for some sensible reason.
            %p Most commonly, a collection contains all of the images from a single study.
            %p Please provide information about this collection. Only the starred fields* are mandatory, but please try to provide as much information as you can.
.row
    .col-md-12
        %hr
        {% crispy form %}
.row
    .span11.text-center
    	.massive
			<div class="addthis_toolbox addthis_default_style" style="width: 400px; margin: 0 auto;">
			<a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
			<a class="addthis_button_tweet"></a>
			<a class="addthis_button_google_plusone" g:plusone:size="medium"></a>
			<a class="addthis_counter addthis_pill_style"></a>
			</div>
			<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=xa-51b9d30552a8a690"></script>
{% endblock %}
