{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block head %}
    %link{ href:"{% static 'css/studies.css' %}", media:"screen", rel:"stylesheet", type:"text/css"}
{% endblock %}

{% block content %}
.row
    .span11
        %h2 NIDM Results: {{ form.instance.name }}
        %hr
.row
    .span11
        {% crispy form %}
{% endblock %}
