{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static from staticfiles %}

{% block head %}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/js/select2.min.js"></script>
    <link href="https://cdn.jsdelivr.net/gh/ttskch/select2-bootstrap4-theme@1.2.2/dist/select2-bootstrap4.min.css" rel="stylesheet" />
{% endblock %}

{% block content %}

<div class="row">
    <div class="col">
        <h2>{{page_header}}</h2>
        {%  if preamble %}
            <p>{{ preamble | safe }}</p>
        {% endif %}
        {% if form.instance.nidm_results %}
            <div class="alert alert-info">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                This statistic map is embedded in <strong><a href="{{form.instance.nidm_results.get_absolute_url}}">{{form.instance.nidm_results.name}}.zip</a></strong>.  Edit the NIDM zip file to modify this image's properties.
            </div>
        {% endif %}
        {% crispy form %}
    </div>
</div>

{% include "statmaps/_contrast_lookup.html" %}

{% endblock %}
