{% extends "base.html" %}

{% block content %}
<div class="span11">
	<form id="form1" runat="server">
	    <div class="navbar">
	        <div class="navbar-inner">
	            <ul class="nav">
				    <li id="tab1" class="activeTab" onclick="ShowHide('1');"><a href="#">Tab 1</a></li>
				    <li id="tab2" onclick="ShowHide('2');"><a href="#">Tab 2</a></li>	
				    <div style="clear: both;"></div>
				</ul>
			</div>
		</div>
		<form action="" method="post">{% csrf_token %}
		<div class="divAreaTabsContent">
			<div id="divtab1">
				{{ form.as_p }}
			</div>
			<div id="divtab2">
				TEST
			</div>
		</div>
		<script language="javascript" type="text/javascript">
		    ShowHide();
		</script>
		<input type="submit" value="Submit" />
	</form>
</div>
{% endblock %}

{% block study_functions %}
<script language="javascript" type="text/javascript">
    function ShowHide(i) {
        document.getElementById('divtab2').style.visibility = 'hidden';
        if (i==1){
               document.getElementById('divtab2').style.visibility = 'hidden';
               document.getElementById('divtab1').style.visibility = 'visible';
           }
           if (i==2){
               document.getElementById('divtab1').style.visibility = 'hidden';
               document.getElementById('divtab2').style.visibility = 'visible';
           }
    }
	function toggle(tabId) {
		var tab= document.getElementById(tabId);
		if (tab) {
			switch (div.style.display) {
				case '':
				div.style.display = 'none'
				break;
				case 'none':
				div.style.display = '';
				break;
			}
		}
	}
</script>
{% endblock %}