{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
.row
	.span11.offset1
		%h2 Add/edit multiple images
		.lead Tell us about these images.
<form class="form-horizontal" enctype="multipart/form-data" method="post" action="">{% csrf_token %}
	{{ formset.management_form }}
	{% for form in formset %}
    	{% crispy form %}
    	{% if not forloop.last %}
    	<hr width="89%" color="black" size=6 />
    	{% endif %}
	{% endfor %}
	%input.btn.btn-large.btn-primary{type:"submit", value:"Save", style:"margin-left: 180px"}
</form>
{% endblock %}