{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
.row
	.span11.offset1
		%h2 Edit image
		.lead Tell us about this image.
<form class="form-horizontal" enctype="multipart/form-data" method="post" action="">{% csrf_token %}
	{% crispy formset formset.form.helper %}
	%input.btn.btn-large.btn-primary{type:"submit", value:"Save", style:"margin-left: 180px"}
</form>
{% endblock %}