{% extends "base.html" %}
{% load get_dict %}

{% block content %}
<div class="span11">
	<p>It is only necessary to include basic information...</p>
	    <div class="navbar">
	        <div class="navbar-inner">
	            <ul class="nav">
				    <li id="tab1" class="activeTab" onclick="ShowHide('1');"><a href="#">Tab 1</a></li>
				    <li id="tab2" onclick="ShowHide('2');"><a href="#">Tab 2</a></li>
					<li id="tab3" onclick="ShowHide('3');"><a href="#">Tab 3</a></li>
					<li id="tab4" onclick="ShowHide('4');"><a href="#">Tab 4</a></li>					
				    <div style="clear: both;"></div>
				</ul>
			</div>
		</div>
		<form action="" method="post">{% csrf_token %}
		<div class="divAreaTabsContent">
			<div id="divtab1" class="row">
				<div class="span3">
					{{ form.non_field_errors }}
	    			<div class="fieldWrapper">
	        			{{ form.name.errors }}
	        			<label for="id_name">Name:</label>
	        			{{ form.name }}
	    			</div>
	    			<div class="fieldWrapper">
	        			{{ form.description.errors }}
	        			<label for="id_description">Description:</label>
	        			{{ form.description }}
	    			</div>
    			</div>
    			<div class="span1">
    			or
    			</div>
    			<div class="span3">
				    <div class="fieldWrapper">
				        {{ form.DOI.errors }}
				        <label for="id_DOI">DOI:</label>
				        {{ form.DOI }}
				    </div>
			    </div>
			</div>
			<div id="divtab2">
			    {% for field in form %}
			    {{ field.name }} {{ priorities|get_item:field.name }}
			    {% if priorities|get_item:field.name == 1 %}
	    			<div class="fieldWrapper">
	        		  {{ field.label }}
	        		  <label for="id_description">{{ field }}</label>
				</div>
			    {% endif %}
			    {% endfor %}
			</div>
			<div id="divtab3">
			    {% for field in form %}
			    {{ field.name }} {{ priorities|get_item:field.name }}
			    {% if priorities|get_item:field.name == 2 %}
	    			<div class="fieldWrapper">
	        		  {{ field.label }}
	        		  <label for="id_description">{{ field }}</label>
				</div>
			    {% endif %}
			    {% endfor %}
			</div>
			<div id="divtab4">
			    {% for field in form %}
			    {{ field.name }} {{ priorities|get_item:field.name }}
			    {{ priorities|get_item:field.name }}
			    {% if priorities|get_item:field.name == 3 %}
	    			<div class="fieldWrapper">
	        		  {{ field.label }}
	        		  <label for="id_description">{{ field }}</label>
				</div>
			    {% endif %}
			    {% endfor %}
			</div>
		</div>
		<script language="javascript" type="text/javascript">
		    ShowHide();
		</script>
		<input type="submit" value="Submit" />
		</form>
</div>
{% endblock %}

{% block functions %}
<script language="javascript" type="text/javascript">
    function ShowHide(i) {
        document.getElementById('divtab2').style.visibility = 'hidden';
        document.getElementById('divtab3').style.visibility = 'hidden';
        document.getElementById('divtab4').style.visibility = 'hidden';
        if (i==1){
           document.getElementById('divtab1').style.visibility = 'visible';
           document.getElementById('divtab2').style.visibility = 'hidden';
           document.getElementById('divtab3').style.visibility = 'hidden';
           document.getElementById('divtab4').style.visibility = 'hidden';
           }
       if (i==2){
           document.getElementById('divtab1').style.visibility = 'hidden';
           document.getElementById('divtab2').style.visibility = 'visible';
           document.getElementById('divtab3').style.visibility = 'hidden';
           document.getElementById('divtab4').style.visibility = 'hidden';
           }
       if (i==3){
           document.getElementById('divtab1').style.visibility = 'hidden';
           document.getElementById('divtab2').style.visibility = 'hidden';
           document.getElementById('divtab3').style.visibility = 'visible';
           document.getElementById('divtab4').style.visibility = 'hidden';
           }
       if (i==4){
           document.getElementById('divtab1').style.visibility = 'hidden';
           document.getElementById('divtab2').style.visibility = 'hidden';
           document.getElementById('divtab3').style.visibility = 'hidden';
           document.getElementById('divtab4').style.visibility = 'visible';
           }
		   
    }
	function toggle(tabId) {
		var tab= document.getElementById(tabId);
		if (tab) {
			switch (div.style.display) {
				case '':
				div.style.display = 'none'
				break;
				case 'none':
				div.style.display = '';
				break;
			}
		}
	}
</script>
{% endblock %}
