{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load coffeescript %}
{% block head %}
<script src="{% static "scripts/select2.min.js"%}" type="text/javascript"></script>
<link rel="stylesheet" href="{% static "css/select2.min.css" %}" />
<script src="{% static "scripts/clone-form.js"%}" type="text/javascript"></script>
<title>{% block title %}NeuroVault: Edit images{% endblock %}</title>
<style>
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
  border: 1px solid transparent
}
</style>
<script type="text/javascript">

	function uploadZip() {
		return $('#upload_form #{{upload_form.file.auto_id}}').click();
	}

	$(document).ready(function() {

		$('#upload_form #{{upload_form.file.auto_id}}').change(function(e) {
		  var csrftoken, data, files, i, paths, xhr;
		  paths = "";
		  files = e.target.files;
		  xhr = new XMLHttpRequest();
		  data = new FormData();
		  for (i in files) {
		    if (files[i].name !== "." && files[i].webkitRelativePath !== void 0) {
		      data.append('paths[]', files[i].webkitRelativePath);
		    }
		  }
		  for (i in files) {
		    if (files[i].name !== "." && files[i].webkitRelativePath !== void 0) {
		      data.append('file_input[]', files[i]);
		    }
		  }
		  csrftoken = $.cookie('csrftoken');
		  xhr.open('POST', "upload_folder", false);
		  xhr.setRequestHeader("X-CSRFToken", csrftoken);
		  xhr.send(data);
		  return document.location = "";
		});

	});

</script>

{% endblock %}
{% block content %}
<!-- Edit Images Header -->
<div class="row lead">
	<div class="col-md-9">
		<h2><a href="{{formset.0.instance.collection.get_absolute_url}}">{{formset.0.instance.collection.name}}</a> / Edit images</h2>
		<div class="lead">Select an image from the list at left and edit its properties in the form at right.</div>
	</div>
	<div class="col-md-2">
		<button class="btn btn-large btn-primary" id="submit-form" style="margin: 35px 0px 0px 20px; font-size: 24px; padding: 10px 20px; line-height: 1.4em">Save</button>
	</div>
</div>

<!-- Image list and edit fields -->
<div class="row">

        <!--Left image selection -->
	<div class="col-md-3 well well-lite">
		<h4>Images in collection:</h4>
		<div id="collection_hldr">
			<ul class="nav nav-tabs nav-stacked collection_nav" id="image-select">
				{% for form in formset %}
				{% if form.nidm_results %}
				<li id="showform-image-{{forloop.counter0}}"{% if forloop.first %} class="active"{% endif %}><a href="#"><i class="icon-archive"></i>&nbsp;{{form.instance.nidm_results}}&nbsp;<i class="icon-double-angle-right"></i>&nbsp;{{form.name.value}}</a></li>
				{% else %}
				<li id="showform-image-{{forloop.counter0}}"{% if forloop.first %} class="active"{% endif %}><a href="#"><i class="icon-file"></i>&nbsp;{{form.name.value}}</a></li>
				{% endif %}
				{% endfor %}
			</ul>
		</div>
		<div class="dropdown">
			<a class="btn btn-default dropdown-toggle" data-toggle="dropdown" style="margin-left:0px; margin-top:10px" href="#">Add a new image <span class="caret"></span></a>
      		    <ul class="dropdown-menu" id="add-image-form">
          		<li><a href="#statmap">Statistic Map</a></li>
          		<li><a href="#atlas">Atlas</a></li>
          		<li><a href="#zip">Zip File (NIDM Results)</a></li>
      		    </ul>
    	        </div>
	</div>

        <!--Right Form -->
	<div class="col-md-9">
		<ul class="breadcrumb">
			<li>
				<div id="current-image">{{ formset.0.name.value }}</div>
			</li>
		</ul>
		<div id="empty_collection_msg" class="alert alert-info hide">
			<button type="button" class="close" data-dismiss="alert">&times;</button>
			<i class="icon-arrow-left"></i>&nbsp; Click 'Add a new image' to add content to this collection.
		</div>

		<form id="formset" class="form-group" enctype="multipart/form-data" method="post" action="">{% csrf_token %}
			{{ formset.management_form }}
			{% for form in formset %}
			<div id='image-{{forloop.counter0}}' class='image-form form-group'>
				<input id="id_image_set-{{forloop.counter0}}-image_ptr" name="image_set-{{forloop.counter0}}-image_ptr image_set" type="hidden" value="{{form.instance.image_ptr_id}}"/>
				{% if form.instance.nidm_results %}

				<div class="alert alert-info">
  				<button type="button" class="close" data-dismiss="alert">&times;</button>
  				This statistic map is embedded in <strong><a href="{{form.instance.nidm_results.get_absolute_url}}">{{form.instance.nidm_results.name}}.zip</a></strong>.  Edit or replace the NIDM zip file to modify this image's properties.
				</div>
				{% endif %}

				{{form | crispy }}
				<script type="text/javascript">
					$('#id_image_set-{{forloop.counter0}}-cognitive_paradigm_cogatlas').css("width", "400px");
  					$('#id_image_set-{{forloop.counter0}}-cognitive_paradigm_cogatlas').select2();
				</script>
			</div>
			{% endfor %}
		</form>
		<div id='blank_atlas' class='hide'>
			{{blank_atlas | crispy }}
		</div>
		<div id='blank_statmap' class='hide'>
			{{blank_statmap | crispy }}
		</div>
		<div id='upload_form'>
			<form id="upload_folder" action="{{ formset.0.instance.collection.get_absolute_url }}upload_folder" enctype="multipart/form-data" method="POST" name="upload_folder_form">
		    {% csrf_token %}
		    <div style="height: 0px;width: 0px; overflow:hidden;">
		      {{ upload_form.file }}
		    </div>
			</form>
		</div>
	</div>
</div>
{% endblock %}
