{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block head %}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/js/select2.min.js"></script>
    <link href="https://cdn.jsdelivr.net/gh/ttskch/select2-bootstrap4-theme@1.2.2/dist/select2-bootstrap4.min.css" rel="stylesheet" />
{% endblock %}

{% block content %}

<script>
    document.addEventListener("DOMContentLoaded", function() {
        document.querySelectorAll(".select-image").forEach(button => {
            button.addEventListener("click", function() {
                const dataValues = this.getAttribute("data-values");

                // Replace single quotes with double quotes
                let jsonString = dataValues.replace(/'/g, '"');
                // Replace True with true and False with false
                jsonString = jsonString.replace(/True/g, 'true').replace(/False/g, 'false');

                // Parse the JSON string
                const imageData = JSON.parse(jsonString);

                // Update text inputs
                document.querySelector("#id_name").value = imageData.name;
                document.querySelector("#id_description").value = imageData.description;
                document.querySelector("#id_modality").value = imageData.modality;
                document.querySelector("#id_map_type").value = imageData.map_type;
                document.querySelector("#id_target_template_image").value = imageData.target_template_image;
                document.querySelector("#id_cognitive_paradigm_cogatlas").value = imageData.cognitive_atlas_paradigm;
                document.querySelector("#id_cognitive_paradigm_cogatlas").title = imageData.cognitive_atlas_paradigm;
                document.querySelector("#id_cognitive_contrast_cogatlas").value = imageData.cognitive_contrast;
                document.querySelector("#id_number_of_subjects").value = imageData.number_of_subjects;
                document.querySelector("#id_contrast_definition").value = imageData.contrast_definition;
                document.querySelector("#id_figure").value = imageData.figure;
                document.querySelector("#id_age").value = imageData.age;
                document.querySelector("#id_statistic_parameters").value = imageData.statistic_parameters;
                document.querySelector("#id_smoothness_fwhm").value = imageData.smoothness_fwhm;

                // Update radio buttons and add active class to the corresponding label
                const updateRadioButton = (name, value) => {
                    const input = document.querySelector(`input[name="${name}"][value="${value}"]`);
                    if (input) {
                        input.checked = true;
                        document.querySelectorAll(`input[name="${name}"]`).forEach(radio => {
                            radio.closest('label').classList.remove('active');
                        });
                        input.closest('label').classList.add('active');
                    }
                };

                updateRadioButton("analysis_level", imageData.analysis_level);
                updateRadioButton("gender", imageData.gender);
                updateRadioButton("ethnicity", imageData.ethnicity);
                updateRadioButton("handedness", imageData.handedness);

                // Trigger change event for select elements to update select2
                $('#id_cognitive_paradigm_cogatlas').trigger('change');
                $('#id_cognitive_contrast_cogatlas').trigger('change');
                $('#id_target_template_image').trigger('change');
                $('#id_modality').trigger('change');

                $("#copyImageModal").modal("hide");
            });
        });
    });

    $(document).ready(function() {
        filterImages();
    });
</script>

<style>
    .btn-outline-info.select-image {
        background-color: #17a2b8;
        color: white;
        border-color: #17a2b8;
    }
    .btn-outline-info.select-image:hover {
        background-color: #138496;
        color: white;
        border-color: #138496;
    }
</style>

<link
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    rel="stylesheet"
>

<script>
    function filterImages() {
        const filterValid = document.getElementById("filterValid").checked;
        const filterAnalysisLevel = document.getElementById("filterAnalysisLevel").value;
        const filterModality = document.getElementById("filterModality").value;

        const rows = document.querySelectorAll("#imageTable tbody tr");

        rows.forEach(row => {
            const isValid = row.getAttribute("data-valid") === "true";
            const analysisLevel = row.getAttribute("data-analysis-level");
            const modality = row.getAttribute("data-modality");

            let showRow = true;

            // Apply Valid filter
            if (filterValid && !isValid) {
                showRow = false;
            }

            // Apply Analysis Level filter
            if (filterAnalysisLevel && filterAnalysisLevel !== analysisLevel) {
                showRow = false;
            }

            // Apply Modality filter
            if (filterModality && filterModality !== modality) {
                showRow = false;
            }

            // Show or hide the row
            row.style.display = showRow ? "" : "none";
        });
    }
</script>

<div class="modal fade" id="copyImageModal" tabindex="-1" role="dialog" aria-labelledby="copyImageModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content shadow-lg">
            <div class="modal-header bg-info text-white">
                <h5 class="modal-title" id="copyImageModalLabel"><i class="fas fa-copy"></i> Select an Image to Copy Metadata From</h5>
                <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- Filters -->
                <div class="d-flex justify-content-between mb-3">
                    <div>
                        <div class="form-check">
                            <input 
                                type="checkbox" 
                                class="form-check-input" 
                                id="filterValid" 
                                onclick="filterImages()"
                                checked
                                >
                            <label class="form-check-label" for="filterValid">Only show images with complete meta-data</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="filterAnalysisLevel">Analysis Level</label>
                        <select class="form-control" id="filterAnalysisLevel" onchange="filterImages()">
                            <option value="">All</option>
                            <option value="single-subject">single-subject</option>
                            <option value="group">group</option>
                            <option value="meta-analysis">meta-analysis</option>
                            <option value="other">other</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="filterModality">Modality</label>
                        <select class="form-control" id="filterModality" onchange="filterImages()">
                            <option value="">All</option>
                            <option value="fMRI-BOLD">fMRI-BOLD</option>
                            <option value="fMRI-CBF">fMRI-CBF</option>
                            <option value="fMRI-CBV">fMRI-CBV</option>
                            <option value="Diffusion MRI">Diffusion MRI</option>
                            <option value="Structural MRI">Structural MRI</option>
                            <option value="PET FDG">PET FDG</option>
                            <option value="PET [15O]-water">PET [15O]-water</option>
                            <option value="PET other">PET other</option>
                            <option value="MEG">MEG</option>
                            <option value="EEG">EEG</option>
                            <option value="Other">Other</option>
                        </select>
                    </div>
                </div>

                <!-- Table -->
                <div class="table-responsive">
                    <table class="table table-striped table-hover" id="imageTable">
                        <thead class="thead-light">
                            <tr>
                                <th>Filename</th>
                                <th>Last Edited</th>
                                <th>Analysis Level</th>
                                <th>Modality</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for image in collection_images %}
                                <tr 
                                    data-valid="{{ image.is_valid|yesno:'true,false' }}" 
                                    data-analysis-level="{{ image.analysis_level }}" 
                                    data-modality="{{ image.modality }}">
                                    <td>{{ image.name }}</td>
                                    <td>{{ image.last_edited }}</td>
                                    <td>{{ image.analysis_level }}</td>
                                    <td>{{ image.modality }}</td>
                                    <td>
                                        <button 
                                            class="btn btn-outline-info btn-sm select-image" 
                                            data-id="{{ image.id }}" 
                                            data-values="{{ image.json_data }}">
                                            <i class="fas fa-check"></i> Select
                                        </button>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col">
        <h2>{{page_header}}</h2>
        {%  if preamble %}
            <p>{{ preamble | safe }}</p>
        {% endif %}
        {% if form.instance.nidm_results %}
            <div class="alert alert-info">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                This statistic map is embedded in <strong><a href="{{form.instance.nidm_results.get_absolute_url}}">{{form.instance.nidm_results.name}}.zip</a></strong>.  Edit the NIDM zip file to modify this image's properties.
            </div>
        {% endif %}
        <div class="card shadow-sm border-info mb-4">
            <div class="card-body d-flex">
                <!-- Left Section: Editing Image Information -->
                <div class="flex-grow-1">
                    <h5 class="card-title text-info">Editing Image</h5>
                    <p class="card-text">
                        <strong>Filename:</strong> {{form.instance.file.name}}<br>
                        <small class="text-muted">This is the file currently being edited.</small>
                    </p>
                </div>
                
                <!-- Right Section: Fill Button -->
                <div class="ml-3" style="flex-basis: 20%; text-align: right;">
                    <button
                        class="btn btn-outline-info btn-sm"
                        data-toggle="modal"
                        data-target="#copyImageModal"
                        style="width: 100%;"
                    >
                        <i class="fas fa-copy"></i> Copy image meta-data
                    </button>
                </div>
            </div>
        </div>
        <!-- <form class="form-horizontal" method="post" enctype="multipart/form-data"> -->
            {% crispy form %}
            <!-- Copy Metadata Modal -->
    </div>
</div>

{% include "statmaps/_contrast_lookup.html" %}
{% include "statmaps/_analysis_level_conditions.html" %}

{% endblock %}
