{% extends "base.html" %}
{% load coffeescript %}

{% block head %}
<title>{% block title %}Gene expression decoding{% endblock %}</title>
    <script src="//cdn.datatables.net/plug-ins/1.10.11/sorting/natural.js" type="text/javascript"></script>
    <script>
        $(document).ready(function() {
          var prevSearch;
    	  var saveState = true;
    	  var captured = /q=([^&]+)/.exec(window.location.href);
          var result = captured ? captured[1] : '';
          var base_url = captured ? window.location.href.split("?")[0] : window.location.href;
          $('#genes-table').dataTable({
                    "bJQueryUI": true,
                    sDom: "<'row-fluid'<'span6'l><'span6'f>r>t<'row-fluid'<'span6'i><'span6'p>>",
                    iDisplayLength: 25,
                    aoColumns: [ { sWidth: '40%' }, { sWidth: '10%'}, { sWidth: '45%'}, { sWidth: '5%'}],
        			"columnDefs": [
    					{ "orderable": false, "targets": 1 },
    					{ "orderable": false, "targets": 3 },
  					],
        			"order": [[ 4, "asc" ]],
        			"columnDefs": [
										{
											"render": function ( data, type, row ) {
												return "<a href='http://www.ncbi.nlm.nih.gov/gene/" + row[1] +"'>" + data + "</a>";
											},
											"targets":[ 0 ]
										},
										{
											type: 'natural',
											"render": function ( data, type, row ) {
												return data.toFixed(2) + "&nbsp;±&nbsp;" + row[7].toFixed(2) + "&nbsp;%";
											},
											"targets":[ 6 ]
										},
										{
											"render": function ( data, type, row ) {
												return data.toFixed(6);
											},
											"targets":[ 4, 5 ]
										},
										{
											"render": function ( data, type, row ) {
												return data.toFixed(3);
											},
											"targets":[ 3 ]
										},
										{ "visible": false,  "targets": [ 1, 7] }
									],
        			"ajax": "{% url 'gene_expression_json' pk=pk %}",
        			"oSearch":{"sSearch":result},
					"fnDrawCallback": function (oSettings) {
						var curSearch = oSettings.oPreviousSearch.sSearch;
						history.replaceState({query:curSearch}, "title", base_url+"?q=" + curSearch);
					}
				});
       });

    </script>

{% endblock %}

{% block content %}
.row
	.span11
		%h2 Gene expression decoding
		.lead
			%p
				This map has been compared with gene expression data obtained from Allen Human Brain Atlas. For every
			    gene and each of the six brains donated to the Allen Brain Institute a linear model has been fitted to see
			    how similar they are to the evaluated map. A one sample t test has been used see how consistent the relation
			    between the gene expression and evaluated map values are across the six donated brains. To account for
			    the number of tested genes False Discovery Rate correction has been applied.

		%table#genes-table.table.table-condensed.table-striped.table-hover
			%thead
				%tr
					%th Symbol
					%th entres_id
					%th Name
					%th t
					%th p
					%th p&nbsp;(corr)
					%th Variance explained
{% endblock %}
