{% extends "base.html" %}
{% load coffeescript %}
{% block head %}
    :javascript
         var params = [];
         params["worldSpace"] = true;
         params["images"] = ["/media/anatomical/MNI152.nii.gz", "{{ image.file.url }}"];
         params["{{ image.file.url }}"] = {"min": 0, "max": 10};
         
         var images = [{
            'name': '{{ image.name }}',
            'url': '{{ image.json_path }}',
            'colorPalette': 'red-yellow-blue',
            'sign': 'both',
            'json': true,
            'download': '{{ image.file.url }}'
        }]
    :javascript
        {% inlinecoffeescript %}
            $(document).ready ->
                $("table[class*=image-details-datatable]").dataTable
                    sDom: "<'row-fluid'<'span6'l><'span6'f>r>t<'row-fluid'<'span6'i><'span6'p>>"
                    sPaginationType: "bootstrap"
                    sAjaxSource: "/api/images/" + {{image.id}} + "/datatable/?format=json"
                    iDisplayLength: 10

             $('#delete_image').click( () ->
                confirm("Are you sure you want to delete this image? This operation cannot be undone!")
             )

        {% endinlinecoffeescript %}
{% include 'statmaps/_papaya_viewer_head.html.haml' %}
{% include 'statmaps/_neurosynth_viewer_head.html.haml' %}

{% endblock %}

{% block content %}
.row
    .span11
        %h2 {{ image.name }}
        .lead
            %p Contributed by {{ user.username }} on {{ image.add_date|date:"N j, Y" }}
            %p <b>Description</b>: {{ image.description }}
            %p <b>Tags</b>:
                - for tag in image.tags.all
                    %a{ href: "/images/tags/{{tag.name}}" }= tag.name
                    - if not forloop.last
                        ,
            - if user_owns_image
                %a.btn.btn-primary.btn-large{href: "{% url 'edit_image' image.id %}" } Edit details
                .float-right-wrapper
                    %a.btn.btn-danger.btn-large{href: "{% url 'delete_image' image.id %}", id: 'delete_image' } Delete image

        %ul#collection-tabs.nav.nav-tabs
            %li
                %a{href:'#neurosynth_viewer', data-toggle:'tab'} Neurosynth viewer
            %li
                %a{href:'#papaya_viewer', data-toggle:'tab'} Papaya viewer
            %li
                %a{href:'#details', data-toggle:'tab'} Details

        .tab-content
            #details.tab-pane
                %table.table.table-condensed.table-striped.table-hover.image-details-datatable
                    %thead
                        %tr
                            %th Field
                            %th Value
                    %tbody
            #neurosynth_viewer.tab-pane.active
                {% include 'statmaps/_neurosynth_viewer_content.html.haml' %}
            #papaya_viewer.tab-pane.active
                {% include 'statmaps/_papaya_viewer_content.html.haml' %}
{% endblock %}