{% extends "base.html" %}
{% load coffeescript %}
{% block head %}

    :javascript

        {% inlinecoffeescript %}

        $(document).ready ->
            $("table").dataTable
                sDom: "<'row-fluid'<'span6'l><'span6'f>r>t<'row-fluid'<'span6'i><'span6'p>>"
                sPaginationType: "bootstrap"
                iDisplayLength: 10
                aoColumns: [ { sWidth: '6%'}, { sWidth: '20%' }, { sWidth: '20%'}, { sWidth: '54%'}]
                fnRowCallback: (nRow, aData, iDisplayIndex) ->
                    nRow
        {% endinlinecoffeescript %}
    </script>
{% endblock %}

{% block content %}
.row
    .col-md-11
        %h2 Images tagged with "{{ tag }}"
        .lead Found {{ images|length }} images.
        .row
            .col-md-11
                %table.table.table-condensed.table-striped.table-hover.tag-list-datatable
                    %thead
                        %tr
                            %th ID
                            %th Name
                            %th Collection(s)
                            %th Description
                    %tbody
                        - for image in images
                            %tr
                                %td= image.id
                                %td
                                    %a{ href: "{{image.get_absolute_url}}" }= image.name
                                %td= image.collection.name
                                %td= image.description

</div>
{% endblock %}
