{% extends "base.html" %}
{% block head %}
{% include 'statmaps/_papaya_viewer_head.html.haml' %}
    :javascript
         var params = [];
         params["worldSpace"] = true;
         params["images"] = ["/media/anatomical/MNI152.nii.gz", "{{ image.file.url }}"];
         params["{{ image.file.url }}"] = {"min": 0, "max": 10};
         
        $( window ).load(function() {
            var images = [{
            	'name': '{{ image.name }}',
            	'url': '{{ image.json_path }}',
            	'colorPalette': 'red-yellow-blue',
            	'sign': 'both',
            	'json': true,
            	'download': '{{ image.file.url }}'
        		}]
        });

{% endblock %}

{% block content %}
.row
    .span11
        %h2 {{ image.name }}
        .lead
            %p Contributed by {{ user.username }} on {{ image.add_date|date:"N j, Y" }}
            %p <b>Description</b>: {{ image.description }}
            %p <b>Tags</b>:             
                - for tag in image.tags.all
                    %a{ href: "/images/tags/{{tag.name}}" }= tag.name
                    - if not forloop.last
                        , 
            - if user_owns_image
                %a.btn.btn-primary.btn-large{href: "{% url 'edit_image' image.id %}" } Edit details
                .float-right-wrapper
                    %a.btn.btn-danger.btn-large{href: "{% url 'delete_image' image.id %}", id: 'delete_image' } Delete image

        %ul#collection-tabs.nav.nav-tabs
            %li
                %a{href:'#neurosynth_viewer', data-toggle:'tab'} Neurosynth viewer
            %li
                %a{href:'#papaya_viewer', data-toggle:'tab'} Papaya viewer
            %li
                %a{href:'#details', data-toggle:'tab'} Details

        .tab-content
            #details.tab-pane
                %table.table.table-condensed.table-striped.table-hover.image-details-datatable
                    %thead
                        %tr
                            %th Field
                            %th Value
                    %tbody
            #neurosynth_viewer.tab-pane.active
            #papaya_viewer.tab-pane.active
                {% include 'statmaps/_papaya_viewer_content.html.haml' %}
{% endblock %}