{% extends "base.html" %}
{% block head %}
<title>{% block title %}Images tagged with "{{ tag }}"{% endblock %}</title>
    :javascript
        (function() {
          $(document).ready(function() {
            return $("table").dataTable({
              sDom: "<'row-fluid'<'span6'l><'span6'f>r>t<'row-fluid'<'span6'i><'span6'p>>",
              iDisplayLength: 25,
              aoColumns: [ { sWidth: '6%'}, { sWidth: '20%' }, { sWidth: '20%'}, { sWidth: '54%'}],
              fnRowCallback: function(nRow, aData, iDisplayIndex) {
                return nRow;
              }
            });
          });
        }).call(this);
{% endblock %}

{% block content %}
.row
    .span11
        %h2 Images tagged with "{{ tag }}"
        .lead Found {{ images|length }} images.
        .row
            .span11
                %table.table.table-condensed.table-striped.table-hover.tag-list-datatable
                    %thead
                        %tr
                            %th ID
                            %th Name
                            %th Collection(s)
                            %th Description
                    %tbody
                        - for image in images
                            %tr
                                %td= image.id
                                %td
                                    %a{ href: "{{image.get_absolute_url}}" }= image.name
                                %td= image.collection.name
                                %td= image.description

</div>
{% endblock %}
