{% extends "base.html" %}
{% block head %}
<link rel="stylesheet" media="screen" href="{% static "css/handsontable.full.min.css"%}">
<link rel="stylesheet" media="screen" href="{% static "css/dataimport.css"%}">
<style>
    .uploader {
        text-align: center;
        margin: 80px 40px 280px;
    }
    .uploader .btn {
        padding: 19px 24px;
        font-size: 24px;
        font-weight: 200;
    }
    .uploader .fileInput {
        height: 0px;
        width: 0px;
        overflow:hidden;
    }
    .errors {
        display: none;
    }

    #hot {
        overflow: scroll;
    }

    .step-content {
        float: left;
    }

    .step-content .step-pane {
        display: none;
    }

    .step-content > .active {
        display: block;
    }

    .step-controls {
        margin-bottom: 20px;
    }

    a span {
        margin-left: 22px;
        display: block;
    }
    a:hover .fa {
        text-decoration: none;
    }
    a.collapsed i.fa-chevron-down {
        display: none;
    }
    a i.fa-chevron-down {
        display: block;
        float:left;
    }

    a.collapsed i.fa-chevron-right {
        display: block;
        float: left;
        padding-top: 2px;
    }
    a i.fa-chevron-right {
        display: none;
    }
</style>
{% endblock %}
{% block content %}
<div class="row">
	<div class="col-md-12">
		<h2><a href="{{collection.get_absolute_url}}">{{ collection.name }}</a> / Upload&nbsp;Images&nbsp;Metadata</h2>
        <div class="lead">Upload a .CSV file with information about each image.</div>

        <!-- This file should contain a header and row for each image. The file must contain: (a) a column with unique filenames for each image in the collection, and (b) a column specifying each type of image (e.g., group, trial, subject). If there are multiple trials per subject, we recommend including a column with indicating the deidentified subject ID. -->

    </div>
</div>
<div class="row">
       <div class="step-content col-md-12">
            <div class="step-pane step1 active">


        <h4><a class="collapsed" data-toggle="collapse" href="#csv-file-format-info" aria-expanded="false" aria-controls="csv-file-format-info"><i class="fa fa-chevron-right"></i><i class="fa fa-chevron-down"></i><span>View CSV File format</span></a></h4>

        <div class="row">
            <div class="collapse" id="csv-file-format-info">
                <div class="col-md-5">
                <pre>
Filename,    Field1, Field2, Field3
map1.nii.gz, 0,      1,      1
map2.nii.gz, 2,      3,      5
map3.nii.gz, 8,      13,     21
                </pre>
                </div>
                <div class="col-md-7">
                    <p><strong>Requirements:</strong></p>
                    <ul>
                        <li>This file should contain a row for each image in the collection.</li>
                        <li>One of the columns should list unique filenames (e.g. <code>map1.nii.gz.</code>)</li>
                    </ul>
                    <p>If there are multiple trials per subject, we recommend including a column with the deidentified subject ID.</p>
                </div>
            </div>
        </div>

        <h4><a class="collapsed" data-toggle="collapse" href="#image-filenames-info" aria-expanded="false" aria-controls="image-filenames-info"><i class="fa fa-chevron-right"></i><i class="fa fa-chevron-down"></i><span>List Image Filenames</span></a></h4>

        <div class="row">
            <div class="collapse" id="image-filenames-info">
                <div class="col-md-5">
                <pre>
Filename
Lorem_ipsum_map1.nii.gz
Lorem_ipsum_map2.nii.gz
Lorem_ipsum_map3.nii.gz
Lorem_ipsum_map4.nii.gz
Lorem_ipsum_map5.nii.gz
Lorem_ipsum_map6.nii.gz
Lorem_ipsum_map7.nii.gz
                </pre>
                </div>
                <div class="col-md-7">
                    <a class="btn btn-default" href="#"><i class="fa fa-download"></i> Download image filenames as CSV</a>
                </div>
            </div>
        </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="alert alert-error errors"></div>
                    </div>
                </div>

                <div class="row">
                    <div class="uploader col-md-11">
                        <a class="btn btn-primary btn-upload">Upload a .csv file</a>
                        <input class="fileInput" name="file" type="file" />
                    </div>
                </div>
            </div>
            <div class="step-pane step2">
                <div class="row">
                    <div class="col-md-12 step-controls">
                        <a class="btn btn-default btn-step-pane-back"><i class="fa fa-chevron-left"></i> Back to a file upload</a>
                        <a class="btn btn-primary pull-right btn-complete-import">Complete Import</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="alert alert-info">
                            We've fuzzy matched some columns in your data with  predefined commonly used terms. Please check if the matching is correct.
                        </div>
                        <div class="alert alert-error errors"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div id="hot" class="handsontable"></div>
                    </div>
                </div>
            </div>
        </div>

</div>


<script src="{% static "scripts/handsontable.full.min.js"%}" type="text/javascript"></script>
<script src="{% static "scripts/papaparse.min.js"%}" type="text/javascript"></script>
<script src="{% static "scripts/fuse.min.js"%}" type="text/javascript"></script>
<script src="{% static "scripts/dataimport.js"%}" type="text/javascript"></script>
<script src="{% static "scripts/metadata-common.js"%}" type="text/javascript"></script>
<script src="{% static "scripts/metadata-import.js"%}" type="text/javascript"></script>
{% endblock %}
