{% extends "base.html" %}
{% load coffeescript %}

{% block head %}
<title>{% block title %}NeuroVault: My Collections{% endblock %}</title>
    :javascript
        {% inlinecoffeescript %}
            $(document).ready ->
                $("#collections-table").dataTable
                    sDom: "<'row-fluid'<'span6'l><'span6'f>r>t<'row-fluid'<'span6'i><'span6'p>>"
                    iDisplayLength: 10
                    aoColumns: [ { sWidth: '45%' }, { sWidth: '10%'}, { sWidth: '45%'}]
        {% endinlinecoffeescript %}
{% endblock %}

{% block content %}
.row
	.span11
		%h2 My collections
		.lead
			%p A collection is a set of images grouped together for some sensible reason.
			%p Most commonly, a collection contains all of the images from a single study.
			%p Your NeuroVault is currently tracking <span style="font-size: 32px">{{ collections|length }}</span> collections.

		%table#collections-table.table.table-condensed.table-striped.table-hover
			%thead
				%tr
					%th Name
					%th Num. images
					%th Description
			%tbody
				- for collection in collections
					%tr
                        {% if collection.private %}
						%td
							%a{ href: "/collections/{{collection.private_token}}" }= collection.name
						%td {{collection.n_images}}
						%td
                            %em Private Collection.
                            {{ collection.description }}
                        {% else %}
                        %td
                            %a{ href: "/collections/{{collection.id}}" }= collection.name
                        %td {{collection.n_images}}
                        %td= collection.description
                        {% endif %}


.row
	%a.btn.btn-primary{href: "{% url 'new_collection' %}" } Add new collection
{% endblock %}
