{% extends "base.html" %}

{% block head %}
<title>{% block title %}My Metaanalyses{% endblock %}</title>
    <script>
        $(document).ready(function() {
          var prevSearch;
    	  var saveState = true;
    	  var captured = /q=([^&]+)/.exec(window.location.href);
          var result = captured ? captured[1] : '';
          var base_url = captured  != '' ? window.location.href.split("?")[0] : window.location.href;
          $('#collections-table').dataTable({
                    "bJQueryUI": true,
                    sDom: "<'row-fluid'<'span6'l><'span6'f>r>t<'row-fluid'<'span6'i><'span6'p>>",
                    iDisplayLength: 25,
                    aoColumns: [ { sWidth: '40%' }, { sWidth: '45%'}, { sWidth: '10%'}, { sWidth:
                     '5%'}],
                    "processing": true,
        			"serverSide": true,
        			"order": [[ 0, "asc" ]],
        			"ajax": "{% url 'my_metaanalyses_json' %}",
        			"oSearch":{"sSearch":result},
					"fnDrawCallback": function (oSettings) {
						var curSearch = oSettings.oPreviousSearch.sSearch;
						history.replaceState({query:curSearch}, "title", base_url+"?q=" + curSearch);
					}
				});
       });
    </script>
{% endblock %}

{% block content %}
<div class="row">
	<div class="col">
    <h2>My metanalyses</h2>
    <p>Here you can create, activate, and finalize (run inference on) your metaanalyses.
			When you will have an active metaanalysis an "Add to the active metaanalysis" button
        become present on comaptible (group level T or Z) maps.</p>
    <div class="table-responsive-md">
        <table id="collections-table" class="table table-striped table-sm table-hover">
            <thead>
                <tr>
                    <th scope="row">Name</th>
                    <th scope="row">Description</th>
                    <th scope="row">Num. images</th>
                    <th scope="row">Status</th>
                </tr>
            </thead>
        </table>
    </div>
    <a class="btn btn-primary" href="{% url 'new_metaanalysis' %}">Start a new metaanalysis</a>
    </div>
</div>
{% endblock %}
