{% extends "base.html" %}
{% block global_includes %}
<style type="text/css">
body {margin:0;padding:0;background:none transparent;}


</style>
{% endblock %}
{% block head %}
<script type="text/javascript" src="{% static "scripts/papaya.js"%}"/>
<script src="{% static "scripts/jquery-1.10.2.min.js"%}" type="text/javascript"></script>
<script src="{% static "scripts/bootstrap.min.js"%}" type="text/javascript"></script>
<link rel="stylesheet" href="{% static "css/bootstrap.css" %}" />
<link href="http://netdna.bootstrapcdn.com/font-awesome/3.1.1/css/font-awesome.css" rel="stylesheet">

<script type="text/javascript">
     var params = [];
     params["worldSpace"] = true;
     params["expandable"] = true;
     params["images"] = ["{% static "images/MNI152.nii.gz"%}", "{{ image.file.url }}"];
     params["luts"] = [{"name":"PuBu", "data":[[0,1,0.968627,0.984314],[0.125,0.92549,0.905882,0.94902],[0.25,0.815686,0.819608,0.901961],[0.375,0.65098,0.741176,0.858824],[0.5,0.454902,0.662745,0.811765],[0.625,0.211765,0.564706,0.752941],[0.75,0.0196078,0.439216,0.690196],[0.875,0.0156863,0.352941,0.552941],[1,0.00784314,0.219608,0.345098]]},
     {"name":"OrRd", "data":[[0,1,0.968627,0.92549],[0.125,0.996078,0.909804,0.784314],[0.25,0.992157,0.831373,0.619608],[0.375,0.992157,0.733333,0.517647],[0.5,0.988235,0.552941,0.34902],[0.625,0.937255,0.396078,0.282353],[0.75,0.843137,0.188235,0.121569],[0.875,0.701961,0,0],[1,0.498039,0,0]]}];

     var filename = "{{ image.file.url }}".replace(/^.*[\\\/]/, '')
     params[filename] = {"parametric": true,  "lut":"OrRd", "negative_lut":"PuBu", "alpha":"0.75"};

     $(document).ready(function() {
        $('#NeuroVaultPapayaHolder').addClass('well');
        $('#NeuroVaultPapayaHolder').prepend($('<h4>NeuroVault Image: <a target="_top" href="http://{{ request.get_host }}{% url 'image_details' image.pk %}">{{image.name}}</a></h4>'));
        $('#NeuroVaultPapayaHolder').css("width","470px").css("height","502px").css("padding","5px");
    });

</script>

{% include 'statmaps/_papaya_viewer_head.html.haml' %}

{% endblock %}


{% block body %}
<body style="background-color:transparent">
#NeuroVaultPapayaHolder{style: "width:470px; height:472px;"}
  .papaya{"data-params" => "params"}
</body>
{% endblock %}
