{% extends "base.html" %}
{% load static from staticfiles %}
{% block head %}
<title>{% block title %}Search{% endblock %}</title>
{% endblock %}

{% block content %}
    <div class="fade"></div>

    <!-- Search with two columns -->
    <div class="row">
        <div class="col">
            <h2>Search</h2>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <script>
              (function() {
                var cx = '003344578150753836269:0z1x3cffi3u';
                var gcse = document.createElement('script');
                gcse.type = 'text/javascript';
                gcse.async = true;
                gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
                var s = document.getElementsByTagName('script')[0];
                s.parentNode.insertBefore(gcse, s);
              })();
            </script>
            <gcse:search linkTarget="_self"></gcse:search>
        </div>
    </div>
{% endblock %}
