{% extends "base.html" %}
{% load coffeescript %}
{% block includes %}
<script type="text/javascript" src="{% static "scripts/papaya.js"%}"/>
{% endblock %}
{% block head %}
    :javascript
         var params = [];
         params["worldSpace"] = true;
         params["expandable"] = true;
         params["images"] = ["{% static "images/MNI152.nii.gz"%}", "{{ image.file.url }}"];
         params["luts"] = [{"name":"PuBu", "data":[[0,1,0.968627,0.984314],[0.125,0.92549,0.905882,0.94902],[0.25,0.815686,0.819608,0.901961],[0.375,0.65098,0.741176,0.858824],[0.5,0.454902,0.662745,0.811765],[0.625,0.211765,0.564706,0.752941],[0.75,0.0196078,0.439216,0.690196],[0.875,0.0156863,0.352941,0.552941],[1,0.00784314,0.219608,0.345098]]},
         {"name":"OrRd", "data":[[0,1,0.968627,0.92549],[0.125,0.996078,0.909804,0.784314],[0.25,0.992157,0.831373,0.619608],[0.375,0.992157,0.733333,0.517647],[0.5,0.988235,0.552941,0.34902],[0.625,0.937255,0.396078,0.282353],[0.75,0.843137,0.188235,0.121569],[0.875,0.701961,0,0],[1,0.498039,0,0]]}];

         var filename = "{{ image.file.url }}".replace(/^.*[\\\/]/, '')
         params[filename] = {"parametric": true,  "lut":"OrRd", "negative_lut":"PuBu", "alpha":"0.75"};
    :javascript
        {% inlinecoffeescript %}
            $(document).ready ->
                $('#collection-tabs a:first').tab('show')
                $("table[class*=image-details-datatable]").dataTable
                    ajax: "/api/images/" + "{{ api_cid }}" + "/datatable/?format=json"
                    length: 10

             $('#delete_image').click( () ->
                confirm("Are you sure you want to delete this image? This operation cannot be undone!")
             )

        {% endinlinecoffeescript %}
{% include 'statmaps/_papaya_viewer_head.html.haml' %}

{% endblock %}

{% block content %}
.row
    .col-md-12
        %h2 {{ image.name }}
        .lead
            %p Contributed by {{ user.username }} on {{ image.add_date|date:"N j, Y" }}
            %p <b>Collection</b>: <a href="{{ image.collection.get_absolute_url }}">{{ image.collection.name }}</a>
            - if image.description
                %p <b>Description</b>: {{ image.description }}
            - if image.tags.all
                %p <b>Tags</b>:
                    - for tag in image.tags.all
                        %a{ href: "/images/tags/{{tag.name}}" }= tag.name
                        - if not forloop.last
            %a.btn.btn-primary.btn-lg{href: "pycortex" } 3D View
            %a.btn.btn-primary.btn-lg{href: "{{ image.file.url }}" } Download
            %a.btn.btn-primary.btn-lg{href: "http://neurosynth.org/decode/?neurovault={{ api_cid }}" } Decode with neurosynth
            - if user_owns_image
                %a.btn.btn-primary.btn-lg{href: "{% url 'edit_image' image.id %}" } Edit details
                .float-right-wrapper
                    %a.btn.btn-danger.btn-lg{href: "{% url 'delete_image' image.id %}", id: 'delete_image' } Delete image

        %ul#collection-tabs.nav.nav-tabs
            %li
                %a{href:'#papaya_viewer', data-toggle:'tab'} Papaya viewer
            %li
                %a{href:'#details', data-toggle:'tab'} Details
            %li
                %a{href:'#embed', data-toggle:'tab'} Embed

        .tab-content
            #papaya_viewer.tab-pane.active
                {% include 'statmaps/_papaya_viewer_content.html.haml' %}
            #details.tab-pane
                %table.table.table-condensed.table-striped.table-hover.image-details-datatable
                    %thead
                        %tr
                            %th Field
                            %th Value
                    %tbody
            #embed.tab-pane
                <div class="well">
                    <h5>Copy and paste this snippet to embed this map into your website or blog:</h5>
                    <textarea class="nv-papaya-copy-snippet"><div id="NeuroVaultPapayaHolder"><script src="http://{{ request.get_host }}{% url 'image_details' image.id %}js/embed" type="text/javascript" charset="utf-8"></script></div></textarea>
                </div>
{% endblock %}
