{% extends "base.html" %}
{% block head %}
<title>{% block title %}Image tags{% endblock %}</title>
    :javascript
        (function() {
          $(document).ready(function() {
            return $("table").dataTable({
              sDom: "fit",
              sPaginationType: "bootstrap",
              iDisplayLength: 25,
              fnRowCallback: function(nRow, aData, iDisplayIndex) {
                var $cell, tag_name, val;
                $cell = $('td:eq(0)', nRow);
                tag_name = $cell.text();
                val = '<a href="/images/tags/' + tag_name + '">' + tag_name + '</a>';
                $cell.html(val);
                return nRow;
              }
            });
          });
        }).call(this);
{% endblock %}
{% block content %}
.row
    .span11
        %h2 Image tags
        .lead Browse or search NeuroVault images by tag.
        .row
            .span5
                %table.table.table-condensed.table-striped.table-hover.tag-list-datatable
                    %thead
                        %tr
                            %th Tag name
                    %tbody
                        - for tag in tags
                            %tr
                                %td= tag.name

{% endblock %}
