{% extends "base.html" %}

{% block content %}
  <h2>Settings</h2>
  <ul class="nav nav-tabs settings-tabs">
    <li class="nav-item" {% block profiletab %}{% endblock %} >
      <a class="nav-link" href="{% url 'users:edit_user' %}">Profile</a>
    </li>
    <li class="nav-item" {% block passwordtab %}{% endblock %}>
      <a class="nav-link" href="{% url 'users:password_change' %}">Password</a>
    </li>
    <li class="nav-item" {% block deletetab %}{% endblock %}>
      <a class="nav-link" href="{% url 'users:delete_profile' %}">Delete Profile</a>
    </li>
    <li class="nav-item" {% block personalaccesstokenstab %}{% endblock %}>
      <a class="nav-link" href="{% url 'users:token_list' %}">Personal access tokens</a>
    </li>
    <li class="nav-item" {% block connectedappstab %}{% endblock %}>
      <a class="nav-link" href="{% url 'oauth2_provider:list' %}">Connected applications</a>
    </li>
    <li class="nav-item" {% block developerappstab %}{% endblock %}>
      <a class="nav-link" href="{% url 'users:developerapps_list' %}">Developer applications</a>
    </li>
  </ul>
  {% block setting_content %}{% endblock %}
{% endblock %}
