{% extends "base_settings.html" %}

{% block developerappstab %}class="active"{% endblock%}

{% load i18n %}
{% block setting_content %}
  <div class="row settings-pane">
    <div class="col-md-12">

    {% if messages %}
    <div class="messages">
        {% for message in messages %}
        <div class="alert alert-{{ message.level_tag }} alert-dismissible" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          {{ message }}
        </div>
        {% endfor %}
    </div>
    {% endif %}

    {% if applications %}
      <table class="table">
          <thead>
            <tr>
              <th class="col-md-3">Name</th>
              <th class="col-md-8">Client ID</th>
            </tr>
          </thead>
          <tbody>
          {% for application in applications %}
              <tr>
                <td><a href="{% url "developerapps_update" application.id %}">{{ application.name }}</a>
                </td>
                <td>
                  {{ application.client_id }}
                </td>
              </tr>
          {% endfor %}
          </tbody>
      </table>

      <a class="btn btn-primary" href="{% url 'developerapps_register' %}">Register new application</a>
    {% else %}
    <div class="text-center settings-no-content">
      <h3>{% trans "No Developer Applications" %}</h3>
      <p>Developer applications are used for enhanced access to the <a href="{% url 'api-docs' %}">NeuroVault API</a>.</p>
      <p><a href="{% url 'developerapps_register' %}">{% trans "Register an application" %}</a> {% trans "to get started." %}</p>
    </div>
    {% endif %}
    </div>

  </div>
{% endblock setting_content %}
