{% extends "base_settings.html" %}
{% load crispy_forms_tags %}

{% block developerappstab %}class="active"{% endblock%}

{% load i18n %}
{% block setting_content %}
  <div class="row settings-pane">
    <div class="col-md-6">
      <h3>
        {% block app-form-title %}
          {% trans "Edit application" %} / {{ application.name }}
        {% endblock app-form-title %}
      </h3>
      <form method="post" action="{% block app-form-action-url %}{% url "developerapps_update" application.id %}{% endblock app-form-action-url %}">
        {% csrf_token %}
        {{ form | crispy }}

        <div class="control-group">
          <div class="controls">
              <button type="submit" class="btn btn-primary">Save</button>
              <a class="btn" href="{% url "oauth2_provider:list" %}">
                  {% trans "Cancel" %}
              </a>
          </div>
        </div>
      </form>
    </div>
  </div>
{% endblock %}
