{% extends "base_settings.html" %}
{% load crispy_forms_tags %}

{% block developerappstab %}class="active"{% endblock%}

{% block setting_content %}
  <div class="row settings-pane">
    <div class="col-md-6">
      <h3>
        {% block app-form-title %}
          Edit application / {{ application.name }}
        {% endblock app-form-title %}
      </h3>
      <form method="post" action="{% block app-form-action-url %}{% url 'developerapps_update' application.id %}{% endblock app-form-action-url %}">
        {% csrf_token %}
        {{ form | crispy }}

        <div class="form-controls">
            <button type="submit" class="btn btn-primary">Save</button>
            {% block app-form-delete-button %}<a class="btn btn-danger" href="{% url 'developerapps_delete' application.id %}">Delete</a>{% endblock app-form-delete-button %}

            <a class="btn" href="{% url 'developerapps_list' %}">Cancel</a>
        </div>
      </form>
    </div>
  </div>
{% endblock %}
