{% extends "base_settings.html" %}

{% block connectedappstab %}class="active"{% endblock%}

{% block setting_content %}
<div class="row settings-pane">
    <div class="col-md-12">
        <div class="text-center settings-no-content">

        <h3>Revoke the app authorization?</h3>
        <p><strong>{{ object.name }}</strong> will no longer be able to access your account on your behalf.</p>
        <form method="post" action="{% url 'users:connection_revoke' object.pk %}">
            {% csrf_token %}
            <div class="form-controls">
                <input type="submit" class="btn btn-danger" name="allow" value="Revoke access"/>
                <a class="btn btn-link" href="{% url 'users:connection_list' %}">Cancel</a>
            </div>
        </form>
        </div>
    </div>
</div>
{% endblock setting_content %}
