{% extends "base_settings.html" %}

{% block personalaccesstokenstab %}class="active"{% endblock%}

{% block setting_content %}
<div class="row settings-pane">
    <div class="col-md-12">
        <div class="text-center settings-no-content">

        <h3>Delete the token?</h3>
        <p>Any applications or scripts using this token will no longer be able to access the NeuroVault API.</p>
        <form method="post" action="{% url 'token_delete' object.pk %}">
            {% csrf_token %}
            <div class="form-controls">
                <input type="submit" class="btn btn-danger" name="allow" value="Delete the token"/>
                <a class="btn btn-link" href="{% url 'token_list' %}">Cancel</a>
            </div>
        </form>
        </div>
    </div>
</div>
{% endblock setting_content %}
