{% extends "base_settings.html" %}

{% block personalaccesstokenstab %}class="active"{% endblock%}

{% block setting_content %}
  <div class="row settings-pane">
    <div class="col-md-12">

    {% if messages %}
        {% include "_messages_block.html" with messages=messages %}
    {% endif %}

    {% if object_list %}
      <table class="table">
          <caption>Tokens you have generated that can be used to access the <a href="{% url 'api-docs' %}">NeuroVault API</a>.</caption>
          <thead>
            <tr>
              <th class="col-md-5">Token</th>
              <th class="col-md-1"></th>
            </tr>
          </thead>
          <tbody>
          {% for token in object_list %}
              <tr>
                <td><samp>{{ token.token }}</samp></td>
                <td><a class="btn btn-danger btn-sm" href="{% url "token_delete" token.id %}">Delete</a>
                </td>
              </tr>
          {% endfor %}
          </tbody>
      </table>
      {% include "_personal_token_form.html" %}
    {% else %}
    <div class="text-center settings-no-content">
      <h3>No personal access tokens</h3>
      <p>Personal access tokens are used to access your account via the <a href="{% url 'api-docs' %}">NeuroVault API</a>.</p>
      <div class="form-controls">
        {% include "_personal_token_form.html" %}
      </div>
    </div>
    {% endif %}
    </div>

  </div>
{% endblock setting_content %}
