{% extends "base.html" %}
{% load static %}

{% block includes %}
    <!--Meta data for Google Search-->
{% if no_task_images %}
    <meta name="robots" content="noindex">
{% endif %}

<meta name="pagetype" content="cognitiveatlastask">
<meta name="name" content="{{ task.name }}">
<meta name="cognitive_paradigm_cogatlas" content="{{ task.name }}">
<meta name="cognitive_paradigm_cogatlas_id" content="{{ task.cog_atlas_id }}">
<meta name="thumbnail" content="http://www.cognitiveatlas.org/images/logo-front.png">
<meta name="database" content="neurovault.org">
<meta name="url" content="http://www.cognitiveatlas.org/term/id/{{ task.cog_atlas_id }}">
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
{%  endblock %}

{% block functions %}
<script type='text/javascript'>
  // Function to add / remove image from viewer
  function viewimage(mrimage) {

     var params = []
     // Reset viewer and load new images
     $(".viewimage").removeClass("active")

      var tmpname = $(mrimage).attr("filename").replace(/^.*[\\\/]/, '')

      if ($(mrimage).attr("type") == "atlas" || $(mrimage).attr("type") == "parcellation") {
        params["images"] = ["{% static "images/"%}" + $(mrimage).attr("target_template_image") + ".nii.gz", $(mrimage).attr("filename")];
      	params[tmpname] = {"parametric": true,  "lut":"Spectrum", "alpha":"0.75",  minPercent: 0.0, maxPercent: 1.0};
      } else if ($(mrimage).attr("type") == "ROI/mask") {
        params["images"] = ["{% static "images/"%}" + $(mrimage).attr("target_template_image") + ".nii.gz",$(mrimage).attr("filename")];
        params[tmpname] = {"parametric": true,  "lut":"Overlay (Negatives)", "alpha":"0.75",  minPercent: 0.0, maxPercent: 1.0};
      } else if ($(mrimage).attr("type") == "anatomical") {
        params["images"] = [$(mrimage).attr("filename")];
      } else if ($(mrimage).attr("data_origin") == "surface"){
        params["images"] = ["{% static "images/"%}" + $(mrimage).attr("target_template_image") + ".nii.gz",$(mrimage).attr("filename")];
      	params[tmpname] = {"parametric": true,  "min":0, "lut":"OrRd", "negative_lut":"PuBu", "alpha":"0.75", "symmetric":true, minPercent: 0.0, maxPercent: 1.0};
      } else {
        params["images"] = ["{% static "images/"%}" + $(mrimage).attr("target_template_image") + ".nii.gz",$(mrimage).attr("filename")];
      	params[tmpname] = {"parametric": true,  "min":0, "lut":"OrRd", "negative_lut":"PuBu", "alpha":"0.75", "symmetric":true};
      }

      params["worldSpace"] = true;
      params["expandable"] = true;
      params["combineParametric"] = true;
      params["showControls"] = false;
      params["smoothDisplay"] = false;
      params["luts"] = [{"name":"PuBu", "data":[[0,1,0.968627,0.984314],[0.125,0.92549,0.905882,0.94902],[0.25,0.815686,0.819608,0.901961],[0.375,0.65098,0.741176,0.858824],[0.5,0.454902,0.662745,0.811765],[0.625,0.211765,0.564706,0.752941],[0.75,0.0196078,0.439216,0.690196],[0.875,0.0156863,0.352941,0.552941],[1,0.00784314,0.219608,0.345098]]},
      {"name":"OrRd", "data":[[0,1,0.968627,0.92549],[0.125,0.996078,0.909804,0.784314],[0.25,0.992157,0.831373,0.619608],[0.375,0.992157,0.733333,0.517647],[0.5,0.988235,0.552941,0.34902],[0.625,0.937255,0.396078,0.282353],[0.75,0.843137,0.188235,0.121569],[0.875,0.701961,0,0],[1,0.498039,0,0]]}];

      papaya.Container.resetViewer(0, params);  // specify new ones
      $(mrimage).addClass("active")

  }
</script>
{% endblock %}

{% block head  %}
    <title>{% block title %}NeuroVault: {{ task.name }}{% endblock %}</title>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col">
            <a href="http://www.cognitiveatlas.org/term/id/{{ task.cog_atlas_id }}">View task in
                    Cognitive Atlas</a>
        </div>
    </div>

    <!-- Content-->
    <div class="row mt-2 mb-2">
        {% if no_task_images %}

            <div class="alert alert-dismissible alert-danger">
            There are no maps in NeuroVault tagged with this task.
            </div>
    {% else %}
            <div class="col-md-6 mt-1 mb-1 d-none d-md-block" style="margin-top:20px" id="for_papaya">
            </div>
            <div class="col-md-6 mt-1 mb-1">
                <div id='images' class='tab-pane active'>
                   <div class="table-responsive-md">
                       <table id="collection-images-datatable" class="table table-striped table-sm">
                           <thead>
                                  <tr>
                                      <th scope="col" class="d-none d-md-table-cell">View</th>
                                      <th>Name</th>
                                      <th>Contrast</th>
                                      <th>Collection</th>
                                  </tr>
                           </thead>
                       </table>
                   </div>
                </div>
            </div>
        {% endif %}
    </div>
    </form>

<script type="application/javascript">
if($('#for_papaya').is(':visible')) {
    document.write('<script type="text/javascript" src="https://cdn.jsdelivr.net/gh/rii-mango/Papaya@build-1449/release/current/minimal/papaya.js"><\/script>');
    document.write('<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/gh/rii-mango/Papaya@build-1449/release/current/minimal/papaya.css"\/>');
}
</script>
<script>
        {% if first_image %}
            $(document).ready(function () {
                $('#collection-images-datatable').dataTable({
                    "processing": true,
                    "serverSide": true,
                    "pagingType": "full",
					"iDisplayLength": 7,
                    "lengthMenu": [7, 10, 25, 50, 75, 100],
                    "columnDefs": [
                        {"orderable": false, "targets": 0, className: "d-none d-md-table-cell"}
                    ],
                    "order": [[3, 'asc'], [2, 'asc'], [1, 'asc']],
                    "ajax": "{% url 'statmaps:task_images_json' task.cog_atlas_id %}",
                    "initComplete": function(settings, json) {
                        if($('#for_papaya').is(':visible')) {
                            $("#for_papaya").append("<div class=\"papaya\" class=\"mw-100\" style=\"float:left;\"></div>")
                            papaya.Container.startPapaya();
                            var collection_images = $(".viewimage")
                            viewimage($(collection_images[0]))
                        }
                    }
                });
            });
        {% endif %}
</script>
{% comment %}
<a href="{{collection.url}}">{{collection.name}}</a> by {{collection.authors}}
{% endcomment %}
{% endblock %}
